@charset "UTF-8";
* {
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  max-width: 1920px;
}

img {
  vertical-align: top;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 共通要素 ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#about, #works, #contact {
  max-width: 1366px;
  padding: 0 5%;
}

@media (max-width: 959px) {
  #works {
    width: 90%;
    padding: 0 5% 0 5%;
  }
  .section2 {
    border-radius: 50px 0px 0 50px;
  }
}
h2 {
  margin-top: 1rem;
  letter-spacing: 0.15rem;
  font-size: 2em;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  margin-bottom: 1.5rem;
  padding-top: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
}

h2 span {
  color: #a13e3e;
}

.about-caption::after, .projects-caption::after, .update-caption::after, .contact-caption::after {
  display: block;
  font-size: 0.85rem;
  line-height: 0.85rem;
  margin: 0.5rem 0 1rem 0.1rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.about-caption::after {
  content: "おばさんずについて";
}

.projects-caption::after {
  content: "つくったものたち";
}

.update-caption::after {
  content: "更新情報";
}

.contact-caption::after {
  content: "ご連絡";
}

.se-ex {
  letter-spacing: 0.07rem;
  line-height: 1.8rem;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
}

@media (max-width: 959px) {
  .se-ex {
    margin: 0;
  }
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ ヘッダー ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
header {
  position: fixed;
  width: 95%;
  top: 0px;
  padding: 0 2.5vw 0;
  z-index: 999;
}
@media (max-width: 959px) {
  header {
    background: #fff;
  }
}
header a {
  text-decoration: none;
  line-height: 100px;
  transition: 0.2s;
  position: relative;
}
header a:hover {
  color: #fff;
}
header .header-link {
  line-height: 10 0px;
  padding: 26px 0.5rem 25px 0.5rem;
}
header .header-link::after {
  content: " ";
  display: block;
  background: #ececec;
  position: absolute;
  top: 0px;
  left: 0;
  height: 5px;
  width: 0%;
  transition: 0.3s;
}
header .header-link:hover::after {
  width: 100%;
}
header.active .nav-list, header.active .nav-list-item a, header.active .h-logo {
  color: #232323;
  background: none;
}
header.active .nav-list:hover, header.active .nav-list-item a:hover, header.active .h-logo:hover {
  color: #3f4c59;
}
header.active .h-logo span {
  color: #8b8b8b;
}
header.active .nav-list .pc_hamburger span {
  background: #232323;
}
header.active .header-link::after {
  content: " ";
  display: block;
  background: #3f4c59;
  position: absolute;
  top: 0px;
  left: 0;
  height: 5px;
  width: 0%;
  transition: 0.3s;
}
header.active .header-link:hover::after {
  width: 100%;
}

.nav-list {
  margin-top: -100.5px;
  margin-right: calc(1.5vw + 50px);
  line-height: 70px;
  text-align: right;
  color: #232323;
}

.nav-list-item {
  list-style: none;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-weight: 0;
  letter-spacing: 0.13rem;
  display: inline-block;
  position: relative;
  z-index: 4;
  margin-left: 1%;
}
.nav-list-item a {
  color: #ececec;
}

.h-logo {
  font-size: 1.4rem;
  letter-spacing: 0.13rem;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  color: #ececec;
  position: relative;
  z-index: 4;
}
.h-logo span {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  font-weight: 500;
  color: #ececec;
  letter-spacing: 0.08rem;
}
.h-logo.white {
  color: #ececec !important;
  z-index: 5;
  margin-left: 2.5vw;
}
.h-logo.white span {
  color: #ececec !important;
}

@media (min-width: 960px) {
  .globalMenuSp, .hamburger {
    display: none;
  }
  .pc_hamburger {
    display: block;
    position: fixed;
    z-index: 6;
    right: 2.5vw;
    top: 0px;
    width: 50px;
    height: 100px;
    cursor: pointer;
    text-align: center;
  }
  .pc_hamburger span {
    display: block;
    position: absolute;
    width: 45px;
    height: 4px;
    transform: scaleY(0.5) translateY(2px);
    background: #ececec;
    transition: 0.2s ease-in-out;
  }
  .pc_hamburger span:nth-child(1) {
    top: 45px;
    right: 0px;
    width: 45px;
  }
  .pc_hamburger span:nth-child(2) {
    bottom: 41px;
    right: 0px;
    width: 45px;
  }
  .pc_hamburger.active span:nth-child(1) {
    top: 50.75%;
    width: 45px;
    right: 0;
    background: #ececec !important;
    transform: rotate(-30deg);
    height: 2px;
  }
  .pc_hamburger.active span:nth-child(2) {
    top: 47%;
    width: 45px;
    right: 0;
    background: #ececec !important;
    transform: rotate(30deg);
    height: 2px;
  }
  .pc_globalMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: #3f4c59;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    transition: 0.3s;
    overflow: scroll;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  }
  .pc_globalMenu.active {
    opacity: 100;
    visibility: visible;
  }
  .pc_globalMenu::-webkit-scrollbar {
    display: none;
  }
  .pcgm_content {
    display: flex;
    gap: 2.5vw;
    padding: 2.5vw;
    border-top: solid 2px #576675;
  }
  .pcgm_flex {
    flex: 2;
    margin-top: 0;
  }
  .pcgm_flex.img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: sticky;
  }
  .pcgm_flex.img img {
    height: calc(100dvh - 102.5px - 2.5vw - 2.5vw);
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50px 50px 0 50px;
    top: 0;
  }
  .pcgm_flex.right {
    position: relative;
    flex: 1.5;
  }
  .pcgm_button {
    display: block;
    color: #ececec;
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
  }
  .pcgm_button span {
    display: block;
    margin-top: 0.75rem;
    font-size: 0.8rem;
    line-height: 0.9rem;
    letter-spacing: 0.05rem;
    color: #afafaf;
  }
  .pcgm_button:hover {
    color: #576675;
  }
  .pcgm_button.small {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }
  .pcgm_button.small span {
    font-size: 0.6rem;
    line-height: 0.6rem;
    margin-top: 0.5rem;
  }
  .pcgm_button:visited {
    color: #ececec;
  }
  .pcgm_button:visited:hover {
    color: #576675;
  }
  .pcgm_button .pcgm_2nd_button {
    padding-left: 3vw;
    margin-left: 1vw;
    margin-top: 1rem;
    position: relative;
  }
  .pcgm_button .pcgm_2nd_button::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    display: inline-block;
    width: 2vw;
    background: #576675;
    height: 2px;
  }
  .pcgm_line {
    background: #576675;
    height: 2px;
    width: 100%;
  }
  .pcgm_line.one {
    margin-bottom: 1.5rem;
  }
  .pcgm_line.two {
    margin: 1.5rem 0;
  }
  .pcgm_line.three {
    margin-top: 1.5rem;
  }
  .social_media_container a {
    line-height: 0rem;
  }
  .social_media_container i {
    background: #576675;
    padding: 0.7rem;
    color: #ececec;
    border-radius: 50%;
    margin-right: 1rem;
  }
  .pcgm_sns {
    color: #ececec;
    margin: 1rem 0;
    letter-spacing: 0.125rem;
    font-weight: 500;
    font-size: 1rem;
  }
  .pcgm_copy {
    color: #ececec;
    margin-top: 2.5rem;
    letter-spacing: 0.125rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 959px) {
  .pc_globalMenu {
    display: none;
  }
  header {
    position: fixed;
    height: 50px;
    line-height: 50px;
    width: 97%;
    top: 0;
    padding-left: 5%;
    z-index: 1000;
  }
  .h-logo {
    line-height: 50px;
    font-size: 1.2rem;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    color: #232323;
  }
  .h-logo span {
    font-size: 0.8rem;
    margin-left: 0.75rem;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #8b8b8b;
  }
  .nav-list {
    display: none;
  }
  .nav-list-sp a, .nav-list-item-sp, .header1 a {
    color: #232323;
  }
  /* ■■■■■■■■■■■■■■■■■ ハンバーガー ■■■■■■■■■■■■■■■■■ */
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    transform: scaleY(0.5) translateY(2px);
    left: 6px;
    background: #232323;
    transition: 0.2s;
  }
  .hamburger span:nth-child(1) {
    top: 19.5px;
    right: 8.5px;
    width: 25px;
  }
  .hamburger span:nth-child(2) {
    top: 26.5px;
    right: 0;
    width: 30%;
  }
  .hamburger.active span:nth-child(1) {
    top: 25px;
    width: 25px;
    left: 7.6px;
    background: #232323;
    transform: rotate(-45deg);
    height: 2px;
  }
  .hamburger.active span:nth-child(2) {
    top: 25px;
    right: 7.6px;
    width: 25px;
    background: #232323;
    transform: rotate(45deg);
    height: 2px;
  }
  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(3 0px);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    margin-top: 50px;
    padding-top: 7%;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 5rem;
    height: calc(100dvh - 50px);
    overflow: auto;
    border-radius: 25px 25px 0 0;
  }
  nav.globalMenuSp.active {
    opacity: 100;
    display: block;
    pointer-events: auto;
  }
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp .sp-menu-bottom {
    position: absolute;
    bottom: 10vw;
    left: 10vw;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    letter-spacing: 0.07rem;
    font-size: 0.7rem;
  }
  nav.globalMenuSp .sp-menu-bottom a {
    display: block;
    line-height: 2rem;
    font-weight: 500;
    color: #232323;
    font-size: 0.9rem;
  }
  nav.globalMenuSp .sp-menu-bottom a:visited {
    color: #232323;
  }
}
.sp-menu-item {
  margin: 10px 7vw;
  position: relative;
  padding: 3vw;
}
.sp-menu-item p {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.13rem;
  font-size: 1.3rem;
  line-height: 1.4rem;
}
.sp-menu-item p span {
  display: block;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  line-height: 0.75rem;
  margin-top: 8px;
}
.sp-menu-item p span span {
  margin-right: 7px;
  display: inline;
}
.sp-menu-item i {
  position: absolute;
  right: 3vw;
  top: 50%;
  transform: translateY(-50%);
}
.sp-menu-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sp-menu-line {
  width: calc(100% - 14vw);
  margin: 0 7vw;
  height: 2px;
  background: #4d4d4d;
}

.sp-menu-sns {
  margin: 10% 7vw 0;
  padding: 0 3vw;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.1rem;
  line-height: 1rem;
  font-size: 1.2rem;
}
.sp-menu-sns a {
  line-height: 0px;
  margin-left: 3vw;
  color: #000;
}
.sp-menu-sns a:visited {
  color: #000;
}
.sp-menu-sns i.fa-brands {
  font-size: 1.3rem;
}
.sp-menu-sns .discord-caption {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  line-height: 1.3rem;
  padding: 15px;
  background: #ddd;
  border-radius: 20px 20px 0 20px;
  margin-top: 1rem;
  opacity: 0;
  transition: 0.2s;
}
.sp-menu-sns .discord-caption span {
  background: #5567E3;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 0.075rem;
}

.discord-caption.active {
  opacity: 100;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■  footer  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
@media (max-width: 959px) {
  footer {
    margin: 3rem 5% 1rem 5%;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
  }
  .f-copy {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .f-sns {
    display: none;
  }
  .f-sns a {
    transition: 0.2s;
    border-radius: 50%;
    padding-right: 4%;
    color: #232323;
  }
}
@media (min-width: 960px) {
  footer {
    position: relative;
    margin: 1rem 6%;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
  }
  .f-copy {
    flex: 90;
    margin-bottom: -1.5rem;
    letter-spacing: 0.075rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .f-item {
    font-size: 0.9rem;
    margin-right: 1rem;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    transform: translateY(-50%);
    padding-bottom: 0.25rem;
    color: #000;
    text-decoration: none;
  }
  .f-item:visited {
    color: #000;
  }
  .f-item:hover {
    color: #3f4c59;
    border-bottom: solid 2px #3f4c59;
  }
  .f-sns {
    padding-left: 1rem;
    text-align: right;
  }
  .f-sns .fa-brands {
    padding: 0.6rem 0.65rem 0.375rem 0.6rem;
    padding-bottom: 0.375rem;
    color: #232323;
  }
}
.f-sns .fa-brands:hover {
  color: #3f4c59;
  border-bottom: solid 2px #3f4c59;
}
.f-sns a:visited {
  color: #232323;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ main ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
.img-01 {
  background-image: url("../img/scroll/6.jpg");
  animation: slide-animation-01 100s infinite;
  background-position: center;
}

.img-02 {
  background-image: url("../img/scroll/7.jpg");
  animation: slide-animation-02 100s infinite;
  background-position: center;
}

.img-03 {
  background-image: url("../img/scroll/8.jpg");
  animation: slide-animation-03 100s infinite;
  background-position: center;
}

.img-04 {
  background-image: url("../img/scroll/15.jpg");
  animation: slide-animation-04 100s infinite;
  background-position: center;
}

.img-05 {
  background-image: url("../img/scroll/11.jpg");
  animation: slide-animation-05 100s infinite;
  background-position: center;
}

.img-06 {
  background-image: url("../img/scroll/12.jpg");
  animation: slide-animation-06 100s infinite;
  background-position: center;
}

.img-07 {
  background-image: url("../img/scroll/14.jpg");
  animation: slide-animation-07 100s infinite;
  background-position: center;
}

.img-08 {
  background-image: url("../img/scroll/4.jpg");
  animation: slide-animation-08 100s infinite;
  background-position: center;
}

.img-09 {
  background-image: url("../img/scroll/9.jpg");
  animation: slide-animation-09 100s infinite;
  background-position: center;
}

.img-10 {
  background-image: url("../img/scroll/10.jpg");
  animation: slide-animation-10 100s infinite;
  background-position: center;
}

@keyframes slide-animation-01 {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-animation-02 {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-03 {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-04 {
  0% {
    opacity: 0;
  }
  28% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  38% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-05 {
  0% {
    opacity: 0;
  }
  38% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-06 {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  58% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-07 {
  0% {
    opacity: 0;
  }
  58% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-08 {
  0% {
    opacity: 0;
  }
  68% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  78% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-09 {
  0% {
    opacity: 0;
  }
  78% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-10 {
  0% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ■■■■■■■■■■■■■■■■■ スマホ用トップ画面 ■■■■■■■■■■■■■■■■■ */
@media (max-width: 959px) {
  .main-topview {
    height: calc(100dvh - 50px);
    padding-top: 100px;
    margin-top: -50px;
    position: relative;
    border-radius: 20px;
    border-radius: 20px 20px 0 20px;
  }
  .m-topview {
    width: 100%;
    height: 100vh;
    z-index: 90;
    margin-top: 50px;
  }
}
/* ■■■■■■■■■■■■■■■■■ スライドのフレーム ■■■■■■■■■■■■■■■■■ */
@media (min-width: 960px) {
  .main-topview {
    height: 100vh;
  }
  .img-frame {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
  }
}
@media (max-width: 959px) {
  .img-frame {
    position: relative;
    width: 100%;
    height: calc(100dvh - 50px);
    overflow: hidden;
    margin: 0 auto;
  }
}
/* ■■■■■■■■■■■■■■■■■ スライドの画像たち ■■■■■■■■■■■■■■■■■ */
@media (min-width: 960px) {
  .img-01, .img-02, .img-03, .img-04, .img-05, .img-06, .img-07, .img-08, .img-09, .img-10 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 959px) {
  .img-01, .img-02, .img-03, .img-04, .img-05, .img-06, .img-07, .img-08, .img-09, .img-10 {
    position: absolute;
    bottom: 1.5%;
    top: 0;
    left: 3%;
    width: 94%;
    height: 98.5%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 20px;
  }
}
/* ■■■■■■■■■■■■■■■■■ 黒色グラデーション ■■■■■■■■■■■■■■■■■ */
.m-topview-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), 50%, rgba(0, 0, 0, 0.2) 80%);
}
@media (max-width: 959px) {
  .m-topview-gradient {
    border-radius: 20px 20px 0 20px;
  }
}

/* ■■■■■■■■■■■■■■■■■ キャプション・カウンター ■■■■■■■■■■■■■■■■■ */
@media (min-width: 960px) {
  .m-topview-text-jp {
    position: absolute;
    left: 6.5vw;
    bottom: 3.5vw;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #ddd;
    z-index: 91;
  }
  .m-topview-text-en {
    position: absolute;
    left: 6.5vw;
    bottom: 2.5vw;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
    color: #ddd;
    z-index: 91;
  }
  .m-topview-count {
    position: absolute;
    right: 2.5vw;
    bottom: 2.5vw;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    color: #ddd;
    z-index: 91;
  }
}
@media (max-width: 959px) {
  .m-topview-text-jp {
    position: absolute;
    left: 4%;
    bottom: 2.4rem;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #ddd;
    z-index: 91;
  }
  .m-topview-text-en {
    position: absolute;
    left: 4%;
    bottom: 1.45rem;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #ddd;
    z-index: 91;
  }
  .m-topview-count {
    position: absolute;
    right: 4%;
    bottom: 1.45rem;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    color: #ddd;
    z-index: 91;
  }
}
/* ■■■■■■■■■■■■■■■■■ プログレスバー ■■■■■■■■■■■■■■■■■ */
.progBar .bar {
  position: absolute;
  height: 100%;
  background-color: #576675;
  animation: progress 10s -1.5s linear infinite;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media (min-width: 960px) {
  .progBar {
    width: calc(100% - 4vw);
    height: 5px;
    background-color: none;
    position: relative;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 4vw;
    z-index: 91;
  }
  .progBar_bg {
    height: 5px;
    width: 95vw;
    background: #ddd;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 50;
  }
}
@media (max-width: 959px) {
  .progBar {
    width: 90%;
    height: 2px;
    background-color: none;
    position: relative;
    overflow: hidden;
    position: absolute;
    bottom: 1.75rem;
    left: 7%;
    z-index: 91;
  }
}
/* ■■■■■■■■■■■■■■■■■ スクロールダウン ■■■■■■■■■■■■■■■■■ */
.scrolldown_wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 16vh;
  width: 4vw;
  background: #fff;
  border-radius: 0 25px 0 0;
}

.scrolldown {
  position: absolute;
  height: 13vh;
  padding-left: 1vw;
  width: 3vw;
  bottom: 0;
  background: #fff;
}

.scrolldown span {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.15em;
  bottom: 9vh;
  font-family: "Lato", sans-serif;
  transform: rotate(90deg);
}

.scrolldown::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 7.5px;
  height: 13vh;
  background: #3f4c59;
  animation: pathmove 2.5s ease-in-out infinite;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 7.5px;
  height: 13vh;
  background: #ddd;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 1;
  }
  25% {
    height: 13vh;
    top: 0;
    opacity: 1;
  }
  50% {
    height: 0;
    top: 13vh;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 0px;
    opacity: 0;
  }
}
/* ■■■■■■■■■■■■■■■■■ topview info ■■■■■■■■■■■■■■■■■ */
.topview-info {
  opacity: 0;
  position: absolute;
  right: 2%;
  padding-bottom: 1rem;
  top: 103px;
  height: auto;
  width: 410px;
  background: rgba(236, 236, 236, 0.9);
  border-radius: 20px 20px 0 20px;
  overflow: scroll;
}
.topview-info img {
  width: calc(100% - 4vw);
  margin: 0.5vw 0 0.5vw 2vw;
  border-radius: 20px 20px 0 20px;
}
.topview-info::-webkit-scrollbar {
  display: none;
}

.topview-info.active {
  opacity: 100;
}

.t-i-title {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.13rem;
  margin: 1vw 1vw 0 1vw;
  font-size: 1.3rem;
}
.t-i-title span {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  margin-left: 0.8rem;
  font-weight: 600;
}

.t-i-article {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.06rem;
  margin: 0.5vw 1vw 0 1vw;
  font-size: 0.9rem;
  line-height: 1.75rem;
}

.t-i-close {
  font-size: 2rem;
  position: absolute;
  top: 0.8vw;
  right: 1.2vw;
  transition: 0.2s;
}
.t-i-close:hover {
  color: #a13e3e;
}

@media (max-width: 959px) {
  .topview-info {
    position: absolute;
    right: 3%;
    top: 0;
    width: 94%;
  }
  .t-i-title {
    padding: 3vw 3vw 0 3vw;
    font-size: 1.3rem;
  }
  .t-i-article {
    padding: 3vw 3vw 0 2vw;
  }
  .t-i-close {
    position: absolute;
    top: 3vw;
    right: 3vw;
  }
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ about ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■ max-width ■■■■■■■■■■■■■■■■■ */
#about {
  background: #fff;
  width: 90%;
  padding: 0 5%;
}

@media (max-width: 959px) {
  #about {
    background: #fff;
    width: 90%;
  }
}
.section1 {
  max-width: 1366px;
  margin: 0 auto;
}

/* ■■■■■■■■■■■■■■■■■ about-flex ■■■■■■■■■■■■■■■■■ */
.about-flex {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .about-flex {
    display: block;
  }
}
.about-flex-item {
  flex: 1;
}
.about-flex-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px 50px 0 50px;
}

@media (max-width: 1024px) {
  .about-flex-item img {
    margin-top: 1rem;
  }
}
/* ■■■■■■■■■■■■■■■■■ readmoreボタン ■■■■■■■■■■■■■■■■■ */
.s-readmore {
  transition: 0.2s;
  text-decoration: none;
  color: #232323;
  background: #ececec;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-weight: 500;
  border-radius: 20px 20px 0 20px;
  margin: 2rem 0;
  letter-spacing: 0.13rem;
}
.s-readmore:visited {
  color: #232323;
}
.s-readmore:hover {
  color: #ececec;
  background: #3f4c59;
  box-shadow: none;
}
.s-readmore i {
  margin: 0 0 0 1rem;
}

@media (max-width: 959px) {
  .s-readmore {
    margin: 1.5rem 0;
  }
}
/* ■■■■■■■■■■■■■■■■■ SNSグリッド ■■■■■■■■■■■■■■■■■ */
@media (min-width: 801px) {
  .about-sns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    -moz-column-gap: 1.1rem;
         column-gap: 1.1rem;
    row-gap: 1.1rem;
  }
}
@media (max-width: 800px) {
  .about-sns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 90px;
    -moz-column-gap: 3%;
         column-gap: 3%;
    row-gap: 1.1rem;
  }
}
/* ■■■■■■■■■■■■■■■■■ SNSグリッド - ベース・大きさ・色 ■■■■■■■■■■■■■■■■■ */
.about-sns {
  width: 100%;
  height: 100%;
  background: #ececec;
  border-radius: 20px 20px 0 20px;
  position: relative;
  transition: 0.2s;
}
.about-sns .fa-x-twitter, .about-sns .fa-youtube, .about-sns .fa-github {
  position: absolute;
  top: 15px;
  left: 15px;
}
.about-sns .fa-circle-arrow-right {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.about-sns a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 801px) {
  .item1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .item2 {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .item3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item4 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
.x:hover {
  background: #4e4e4e;
  color: #dddddd;
}

.yt:hover {
  background: #bb6663;
  color: #dddddd;
}

.misskey:hover {
  background: #99ac5c;
  color: #ddd;
}

.item4:hover {
  background: #4e4e4e;
  color: #ddd;
}

/* ■■■■■■■■■■■■■■■■■ SNSグリッド - id ■■■■■■■■■■■■■■■■■ */
@media (min-width: 801px) {
  .about-sns-id {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04rem;
  }
  .about-sns-id.normal {
    font-size: 1.2rem;
  }
  .about-sns-id.small {
    font-size: 1.1rem;
    letter-spacing: 0.11rem;
  }
}
@media (max-width: 800px) {
  .about-sns-id {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04rem;
  }
  .about-sns-id.normal {
    font-size: 1rem;
  }
  .about-sns-id.small {
    font-size: 0.9rem;
  }
}
@media (min-width: 1440px) {
  .about-sns-br {
    display: inline;
  }
}
@media (max-width: 1439px) {
  .about-sns-br {
    display: block;
  }
}
/* ■■■■■■■■■■■■■■■■■ SNSグリッド - キャプション ■■■■■■■■■■■■■■■■■ */
@media (min-width: 801px) {
  .about-sns-caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
  }
  .about-sns-caption.normal {
    font-size: 0.7rem;
  }
  .about-sns-caption.small {
    font-size: 0.6rem;
  }
}
@media (max-width: 800px) {
  .about-sns-caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
  }
  .about-sns-caption.normal {
    font-size: 0.65rem;
  }
  .about-sns-caption.small {
    font-size: 0.65rem;
  }
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ projects ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* ■■■■■■■■■■■■■■■■■ 絞り込み ■■■■■■■■■■■■■■■■■ */
.tag-search {
  display: none;
  overflow: scroll;
}

.search-box span {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  margin-left: 0.5rem;
}

label {
  display: inline-block;
  padding: 0.3rem 1rem 0.4rem 1rem;
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
  font-size: 0.85rem;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-weight: 500;
  transition: 0.2s;
  border-radius: 10px 10px 0 10px;
  background: #ececec;
}

.tag-search:checked + label {
  background-color: #3f4c59;
  box-shadow: none;
  color: #ececec;
}

input[type=radio] {
  display: none;
}

.label-box {
  margin: 2vw 0;
}

label:hover {
  color: #3f4c59;
}

.is-hide {
  display: none;
}

@media (max-width: 959px) {
  .label {
    display: inline-block;
    padding: 0.3rem 1rem 0.4rem 1rem;
    margin: 1rem 0.25rem 2rem 0.25rem;
    cursor: pointer;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-weight: 500;
    transition: 0.2s;
    border-radius: 20px;
    background: #ececec;
    box-shadow: 3px 3px 6px #d2d2d2, -3px -3px 6px #ffffff;
  }
  .search-box {
    overflow: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    position: relative;
  }
  .search-box::-webkit-scrollbar {
    display: none;
  }
  .line {
    width: 100%;
    height: 2px;
    background: #ddd;
    margin: 0.5rem 0 0.5rem 0;
  }
}
@media (min-width: 960px) {
  .line {
    width: 50%;
    height: 2px;
    background: #ddd;
    margin: 0.5rem 0 0.5rem 0;
  }
}
/* ■■■■■■■■■■■■■■■■■ gridベース ■■■■■■■■■■■■■■■■■ */
.pj-flex {
  margin-left: -40px;
  list-style: none;
  padding-bottom: 3rem;
  position: relative;
}

@media (min-width: 960px) {
  .pj-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 2vw;
    width: 100%;
  }
}
@media (max-width: 959px) {
  .pj-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
  }
}
@media (min-width: 526px) {
  .pj-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 525px) {
  .pj-flex {
    display: grid;
    grid-template-columns: 1fr;
  }
}
/* ■■■■■■■■■■■■■■■■■ サムネイルパーツ・てきすと ■■■■■■■■■■■■■■■■■ */
@media (min-width: 960px) {
  .pj-sam-1, .pj-sam-2, .pj-sam-3, .pj-sam-4, .pj-sam-5, .pj-sam-6, .pj-sam-7, .pj-sam-8, .pj-sam-9, .pj-sam-10, .pj-sam-11, .pj-sam-12, .pj-sam-13, .pj-sam-14, .pj-sam-15, .pj-sam-16, .pj-sam-17, .pj-sam-18, .pj-sam-19, .pj-sam-20, .pj-sam-21, .pj-sam-22, .pj-sam-23, .pj-sam-24, .pj-sam-25, .pj-sam-26, .pj-sam-27, .pj-sam-28, .pj-sam-29, .pj-sam-30, .pj-sam-31, .pj-sam-32, .pj-sam-33, .pj-sam-34, .pj-sam-35, .pj-sam-36, .pj-sam-37, .pj-sam-38, .pj-sam-39, .pj-sam-40, .pj-sam-41, .pj-sam-42, .pj-sam-43, .pj-sam-44, .pj-sam-45, .pj-sam-46, .pj-sam-47, .pj-sam-48, .pj-sam-49, .pj-sam-50, .pj-sam-51, .pj-sam-52, .pj-sam-53, .pj-sam-54, .pj-sam-55, .pj-sam-56, .pj-sam-57, .pj-sam-58, .pj-sam-59, .pj-sam-60, .pj-sam-61, .pj-sam-62, .pj-sam-63, .pj-sam-64, .pj-sam-65, .pj-sam-66, .pj-sam-67, .pj-sam-68, .pj-sam-69, .pj-sam-70, .pj-sam-71, .pj-sam-72, .pj-sam-73, .pj-sam-74, .pj-sam-75, .pj-sam-76, .pj-sam-77, .pj-sam-78, .pj-sam-79, .pj-sam-80, .pj-sam-81, .pj-sam-82, .pj-sam-83, .pj-sam-84, .pj-sam-85, .pj-sam-86, .pj-sam-87, .pj-sam-88, .pj-sam-89, .pj-sam-90, .pj-sam-91, .pj-sam-92, .pj-sam-93, .pj-sam-94, .pj-sam-95, .pj-sam-96, .pj-sam-97, .pj-sam-98, .pj-sam-99, .pj-sam-100 {
    border-radius: 20px 20px 0 20px;
    transition: 0.2s;
  }
}
@media (max-width: 959px) {
  .pj-sam-1, .pj-sam-2, .pj-sam-3, .pj-sam-4, .pj-sam-5, .pj-sam-6, .pj-sam-7, .pj-sam-8, .pj-sam-9, .pj-sam-10, .pj-sam-11, .pj-sam-12, .pj-sam-13, .pj-sam-14, .pj-sam-15, .pj-sam-16, .pj-sam-17, .pj-sam-18, .pj-sam-19, .pj-sam-20, .pj-sam-21, .pj-sam-22, .pj-sam-23, .pj-sam-24, .pj-sam-25, .pj-sam-26, .pj-sam-27, .pj-sam-28, .pj-sam-29, .pj-sam-30, .pj-sam-31, .pj-sam-32, .pj-sam-33, .pj-sam-34, .pj-sam-35, .pj-sam-36, .pj-sam-37, .pj-sam-38, .pj-sam-39, .pj-sam-40, .pj-sam-41, .pj-sam-42, .pj-sam-43, .pj-sam-44, .pj-sam-45, .pj-sam-46, .pj-sam-47, .pj-sam-48, .pj-sam-49, .pj-sam-50, .pj-sam-51, .pj-sam-52, .pj-sam-53, .pj-sam-54, .pj-sam-55, .pj-sam-56, .pj-sam-57, .pj-sam-58, .pj-sam-59, .pj-sam-60, .pj-sam-61, .pj-sam-62, .pj-sam-63, .pj-sam-64, .pj-sam-65, .pj-sam-66, .pj-sam-67, .pj-sam-68, .pj-sam-69, .pj-sam-70, .pj-sam-71, .pj-sam-72, .pj-sam-73, .pj-sam-74, .pj-sam-75, .pj-sam-76, .pj-sam-77, .pj-sam-78, .pj-sam-79, .pj-sam-80, .pj-sam-81, .pj-sam-82, .pj-sam-83, .pj-sam-84, .pj-sam-85, .pj-sam-86, .pj-sam-87, .pj-sam-88, .pj-sam-89, .pj-sam-90, .pj-sam-91, .pj-sam-92, .pj-sam-93, .pj-sam-94, .pj-sam-95, .pj-sam-96, .pj-sam-97, .pj-sam-98, .pj-sam-99, .pj-sam-100 {
    border-radius: 20px 20px 0 20px;
    transition: 0.2s;
  }
}
.pj-sam-1:hover .pj-img img, .pj-sam-2:hover .pj-img img, .pj-sam-3:hover .pj-img img, .pj-sam-4:hover .pj-img img, .pj-sam-5:hover .pj-img img, .pj-sam-6:hover .pj-img img, .pj-sam-7:hover .pj-img img, .pj-sam-8:hover .pj-img img, .pj-sam-9:hover .pj-img img, .pj-sam-10:hover .pj-img img, .pj-sam-11:hover .pj-img img, .pj-sam-12:hover .pj-img img, .pj-sam-13:hover .pj-img img, .pj-sam-14:hover .pj-img img, .pj-sam-15:hover .pj-img img, .pj-sam-16:hover .pj-img img, .pj-sam-17:hover .pj-img img, .pj-sam-18:hover .pj-img img, .pj-sam-19:hover .pj-img img, .pj-sam-20:hover .pj-img img, .pj-sam-21:hover .pj-img img, .pj-sam-22:hover .pj-img img, .pj-sam-23:hover .pj-img img, .pj-sam-24:hover .pj-img img, .pj-sam-25:hover .pj-img img, .pj-sam-26:hover .pj-img img, .pj-sam-27:hover .pj-img img, .pj-sam-28:hover .pj-img img, .pj-sam-29:hover .pj-img img, .pj-sam-30:hover .pj-img img, .pj-sam-31:hover .pj-img img, .pj-sam-32:hover .pj-img img, .pj-sam-33:hover .pj-img img, .pj-sam-34:hover .pj-img img, .pj-sam-35:hover .pj-img img, .pj-sam-36:hover .pj-img img, .pj-sam-37:hover .pj-img img, .pj-sam-38:hover .pj-img img, .pj-sam-39:hover .pj-img img, .pj-sam-40:hover .pj-img img, .pj-sam-41:hover .pj-img img, .pj-sam-42:hover .pj-img img, .pj-sam-43:hover .pj-img img, .pj-sam-44:hover .pj-img img, .pj-sam-45:hover .pj-img img, .pj-sam-46:hover .pj-img img, .pj-sam-47:hover .pj-img img, .pj-sam-48:hover .pj-img img, .pj-sam-49:hover .pj-img img, .pj-sam-50:hover .pj-img img, .pj-sam-51:hover .pj-img img, .pj-sam-52:hover .pj-img img, .pj-sam-53:hover .pj-img img, .pj-sam-54:hover .pj-img img, .pj-sam-55:hover .pj-img img, .pj-sam-56:hover .pj-img img, .pj-sam-57:hover .pj-img img, .pj-sam-58:hover .pj-img img, .pj-sam-59:hover .pj-img img, .pj-sam-60:hover .pj-img img, .pj-sam-61:hover .pj-img img, .pj-sam-62:hover .pj-img img, .pj-sam-63:hover .pj-img img, .pj-sam-64:hover .pj-img img, .pj-sam-65:hover .pj-img img, .pj-sam-66:hover .pj-img img, .pj-sam-67:hover .pj-img img, .pj-sam-68:hover .pj-img img, .pj-sam-69:hover .pj-img img, .pj-sam-70:hover .pj-img img, .pj-sam-71:hover .pj-img img, .pj-sam-72:hover .pj-img img, .pj-sam-73:hover .pj-img img, .pj-sam-74:hover .pj-img img, .pj-sam-75:hover .pj-img img, .pj-sam-76:hover .pj-img img, .pj-sam-77:hover .pj-img img, .pj-sam-78:hover .pj-img img, .pj-sam-79:hover .pj-img img, .pj-sam-80:hover .pj-img img, .pj-sam-81:hover .pj-img img, .pj-sam-82:hover .pj-img img, .pj-sam-83:hover .pj-img img, .pj-sam-84:hover .pj-img img, .pj-sam-85:hover .pj-img img, .pj-sam-86:hover .pj-img img, .pj-sam-87:hover .pj-img img, .pj-sam-88:hover .pj-img img, .pj-sam-89:hover .pj-img img, .pj-sam-90:hover .pj-img img, .pj-sam-91:hover .pj-img img, .pj-sam-92:hover .pj-img img, .pj-sam-93:hover .pj-img img, .pj-sam-94:hover .pj-img img, .pj-sam-95:hover .pj-img img, .pj-sam-96:hover .pj-img img, .pj-sam-97:hover .pj-img img, .pj-sam-98:hover .pj-img img, .pj-sam-99:hover .pj-img img, .pj-sam-100:hover .pj-img img {
  transform: scale(1.2);
  border-radius: 20px 20px 0 15px;
}

.pj-title {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 10px;
  border-radius: 0px 0px 20px 20px;
}

/* ■■■■■■■■■■■■■■■■■ サムネイル画像部分 ■■■■■■■■■■■■■■■■■ */
@media (min-width: 426px) {
  .pj-img {
    transition: 0.2s;
    border-radius: 20px 20px 0 15px;
    overflow: hidden;
  }
  .pj-img img {
    transition: 0.3s;
    border-radius: 20px 20px 0 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (max-width: 425px) {
  .pj-img {
    overflow: hidden;
    border-radius: 20px 20px 0 15px;
  }
  .pj-img img {
    transition: 0.2s;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    border-radius: 20px 20px 0 15px;
  }
}
/* ■■■■■■■■■■■■■■■■■ インデックスフレーム ■■■■■■■■■■■■■■■■■ */
@media (min-width: 960px) {
  .s-readmore-index {
    opacity: 0;
    display: none;
    border-radius: 50px 50px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 74px);
    z-index: 99;
    overflow: auto;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(230, 230, 230, 0.68);
    animation: fadein 0.2s ease forwards;
  }
}
@media (min-width: 960px) {
  .pj-index-1, .pj-index-2, .pj-index-3, .pj-index-4, .pj-index-5, .pj-index-6, .pj-index-7, .pj-index-8, .pj-index-9, .pj-index-10, .pj-index-11, .pj-index-12, .pj-index-13, .pj-index-14, .pj-index-15, .pj-index-16, .pj-index-17, .pj-index-18, .pj-index-19, .pj-index-20, .pj-index-21, .pj-index-22, .pj-index-23, .pj-index-24, .pj-index-25, .pj-index-26, .pj-index-27, .pj-index-28, .pj-index-29, .pj-index-30, .pj-index-31, .pj-index-32, .pj-index-33, .pj-index-34, .pj-index-35, .pj-index-36, .pj-index-37, .pj-index-38, .pj-index-39, .pj-index-40, .pj-index-41, .pj-index-42, .pj-index-43, .pj-index-44, .pj-index-45, .pj-index-46, .pj-index-47, .pj-index-48, .pj-index-49, .pj-index-50, .pj-index-51, .pj-index-52, .pj-index-53, .pj-index-54, .pj-index-55, .pj-index-56, .pj-index-57, .pj-index-58, .pj-index-59, .pj-index-60, .pj-index-61, .pj-index-62, .pj-index-63, .pj-index-64, .pj-index-65, .pj-index-66, .pj-index-67, .pj-index-68, .pj-index-69, .pj-index-70, .pj-index-71, .pj-index-72, .pj-index-73, .pj-index-74, .pj-index-75, .pj-index-76, .pj-index-77, .pj-index-78, .pj-index-79, .pj-index-80, .pj-index-81, .pj-index-82, .pj-index-83, .pj-index-84, .pj-index-85, .pj-index-86, .pj-index-87, .pj-index-88, .pj-index-89, .pj-index-90, .pj-index-91, .pj-index-92, .pj-index-93, .pj-index-94, .pj-index-95, .pj-index-96, .pj-index-97, .pj-index-98, .pj-index-99, .pj-index-100 {
    opacity: 0;
    display: none;
    border-radius: 75px 75px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 0 auto;
    padding: 140px 5% 0;
    height: 100%;
    z-index: 99;
    overflow: auto;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(230, 230, 230, 0.68);
    animation: fadein 0.2s ease forwards;
  }
  .index-max {
    max-width: 1440px;
    padding-bottom: 10vh;
  }
}
@media (max-width: 959px) {
  .pj-index-1, .pj-index-2, .pj-index-3, .pj-index-4, .pj-index-5, .pj-index-6, .pj-index-7, .pj-index-8, .pj-index-9, .pj-index-10, .s-readmore-index, .pj-index-11, .pj-index-12, .pj-index-13, .pj-index-14, .pj-index-15, .pj-index-16, .pj-index-17, .pj-index-18, .pj-index-19, .pj-index-20, .pj-index-21, .pj-index-22, .pj-index-23, .pj-index-24, .pj-index-25, .pj-index-26, .pj-index-27, .pj-index-28, .pj-index-29, .pj-index-30, .pj-index-31, .pj-index-32, .pj-index-33, .pj-index-34, .pj-index-35, .pj-index-36, .pj-index-37, .pj-index-38, .pj-index-39, .pj-index-40, .pj-index-41, .pj-index-42, .pj-index-43, .pj-index-44, .pj-index-45, .pj-index-46, .pj-index-47, .pj-index-48, .pj-index-49, .pj-index-50, .pj-index-51, .pj-index-52, .pj-index-53, .pj-index-54, .pj-index-55, .pj-index-56, .pj-index-57, .pj-index-58, .pj-index-59, .pj-index-60, .pj-index-61, .pj-index-62, .pj-index-63, .pj-index-64, .pj-index-65, .pj-index-66, .pj-index-67, .pj-index-68, .pj-index-69, .pj-index-70, .pj-index-71, .pj-index-72, .pj-index-73, .pj-index-74, .pj-index-75, .pj-index-76, .pj-index-77, .pj-index-78, .pj-index-79, .pj-index-80, .pj-index-81, .pj-index-82, .pj-index-83, .pj-index-84, .pj-index-85, .pj-index-86, .pj-index-87, .pj-index-88, .pj-index-89, .pj-index-90, .pj-index-91, .pj-index-92, .pj-index-93, .pj-index-94, .pj-index-95, .pj-index-96, .pj-index-97, .pj-index-98, .pj-index-99, .pj-index-100 {
    display: none;
    transition: 0.2s;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(230, 230, 230, 0.68);
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    width: 90%;
    height: calc(100% - 50px);
    padding: 0 5% 10vw;
    z-index: 99;
    overflow: auto;
    animation: fadein 0.2s ease-out forwards;
    border-radius: 25px 25px 0 0;
  }
}
.pj-index-1.active, .pj-index-2.active, .pj-index-3.active, .pj-index-4.active, .pj-index-5.active, .pj-index-6.active, .pj-index-7.active, .pj-index-8.active, .pj-index-9.active, .pj-index-10.active, .s-readmore-index.active, .pj-index-11.active, .pj-index-12.active, .pj-index-13.active, .pj-index-14.active, .pj-index-15.active, .pj-index-16.active, .pj-index-17.active, .pj-index-18.active, .pj-index-19.active, .pj-index-20.active, .pj-index-21.active, .pj-index-22.active, .pj-index-23.active, .pj-index-24.active, .pj-index-25.active, .pj-index-26.active, .pj-index-27.active, .pj-index-28.active, .pj-index-29.active, .pj-index-30.active, .pj-index-31.active, .pj-index-32.active, .pj-index-33.active, .pj-index-34.active, .pj-index-35.active, .pj-index-36.active, .pj-index-37.active, .pj-index-38.active, .pj-index-39.active, .pj-index-40.active, .pj-index-41.active, .pj-index-42.active, .pj-index-43.active, .pj-index-44.active, .pj-index-45.active, .pj-index-46.active, .pj-index-47.active, .pj-index-48.active, .pj-index-49.active, .pj-index-50.active, .pj-index-51.active, .pj-index-52.active, .pj-index-53.active, .pj-index-54.active, .pj-index-55.active, .pj-index-56.active, .pj-index-57.active, .pj-index-58.active, .pj-index-59.active, .pj-index-60.active, .pj-index-61.active, .pj-index-62.active, .pj-index-63.active, .pj-index-64.active, .pj-index-65.active, .pj-index-66.active, .pj-index-67.active, .pj-index-68.active, .pj-index-69.active, .pj-index-70.active, .pj-index-71.active, .pj-index-72.active, .pj-index-73.active, .pj-index-74.active, .pj-index-75.active, .pj-index-76.active, .pj-index-77.active, .pj-index-78.active, .pj-index-79.active, .pj-index-80.active, .pj-index-81.active, .pj-index-82.active, .pj-index-83.active, .pj-index-84.active, .pj-index-85.active, .pj-index-86.active, .pj-index-87.active, .pj-index-88.active, .pj-index-89.active, .pj-index-90.active, .pj-index-91.active, .pj-index-92.active, .pj-index-93.active, .pj-index-94.active, .pj-index-95.active, .pj-index-96.active, .pj-index-97.active, .pj-index-98.active, .pj-index-99.active, .pj-index-100.active {
  opacity: 100;
  display: block;
}
.pj-index-1.active body, .pj-index-2.active body, .pj-index-3.active body, .pj-index-4.active body, .pj-index-5.active body, .pj-index-6.active body, .pj-index-7.active body, .pj-index-8.active body, .pj-index-9.active body, .pj-index-10.active body, .s-readmore-index.active body, .pj-index-11.active body, .pj-index-12.active body, .pj-index-13.active body, .pj-index-14.active body, .pj-index-15.active body, .pj-index-16.active body, .pj-index-17.active body, .pj-index-18.active body, .pj-index-19.active body, .pj-index-20.active body, .pj-index-21.active body, .pj-index-22.active body, .pj-index-23.active body, .pj-index-24.active body, .pj-index-25.active body, .pj-index-26.active body, .pj-index-27.active body, .pj-index-28.active body, .pj-index-29.active body, .pj-index-30.active body, .pj-index-31.active body, .pj-index-32.active body, .pj-index-33.active body, .pj-index-34.active body, .pj-index-35.active body, .pj-index-36.active body, .pj-index-37.active body, .pj-index-38.active body, .pj-index-39.active body, .pj-index-40.active body, .pj-index-41.active body, .pj-index-42.active body, .pj-index-43.active body, .pj-index-44.active body, .pj-index-45.active body, .pj-index-46.active body, .pj-index-47.active body, .pj-index-48.active body, .pj-index-49.active body, .pj-index-50.active body, .pj-index-51.active body, .pj-index-52.active body, .pj-index-53.active body, .pj-index-54.active body, .pj-index-55.active body, .pj-index-56.active body, .pj-index-57.active body, .pj-index-58.active body, .pj-index-59.active body, .pj-index-60.active body, .pj-index-61.active body, .pj-index-62.active body, .pj-index-63.active body, .pj-index-64.active body, .pj-index-65.active body, .pj-index-66.active body, .pj-index-67.active body, .pj-index-68.active body, .pj-index-69.active body, .pj-index-70.active body, .pj-index-71.active body, .pj-index-72.active body, .pj-index-73.active body, .pj-index-74.active body, .pj-index-75.active body, .pj-index-76.active body, .pj-index-77.active body, .pj-index-78.active body, .pj-index-79.active body, .pj-index-80.active body, .pj-index-81.active body, .pj-index-82.active body, .pj-index-83.active body, .pj-index-84.active body, .pj-index-85.active body, .pj-index-86.active body, .pj-index-87.active body, .pj-index-88.active body, .pj-index-89.active body, .pj-index-90.active body, .pj-index-91.active body, .pj-index-92.active body, .pj-index-93.active body, .pj-index-94.active body, .pj-index-95.active body, .pj-index-96.active body, .pj-index-97.active body, .pj-index-98.active body, .pj-index-99.active body, .pj-index-100.active body {
  overflow: hidden;
}

/* ■■■■■■■■■■■■■■■■■ スクロールバー非表示 ■■■■■■■■■■■■■■■■■ */
@media (min-width: 960px) {
  .pj-index-1::-webkit-scrollbar, .pj-index-2::-webkit-scrollbar, .pj-index-3::-webkit-scrollbar, .pj-index-4::-webkit-scrollbar, .pj-index-5::-webkit-scrollbar, .pj-index-6::-webkit-scrollbar, .pj-index-7::-webkit-scrollbar, .pj-index-8::-webkit-scrollbar, .pj-index-9::-webkit-scrollbar, .pj-index-10::-webkit-scrollbar, .s-readmore-index::-webkit-scrollbar, .pj-index-11::-webkit-scrollbar, .pj-index-12::-webkit-scrollbar, .pj-index-13::-webkit-scrollbar, .pj-index-14::-webkit-scrollbar, .pj-index-15::-webkit-scrollbar, .pj-index-16::-webkit-scrollbar, .pj-index-17::-webkit-scrollbar, .pj-index-18::-webkit-scrollbar, .pj-index-19::-webkit-scrollbar, .pj-index-20::-webkit-scrollbar, .pj-index-21::-webkit-scrollbar, .pj-index-22::-webkit-scrollbar, .pj-index-23::-webkit-scrollbar, .pj-index-24::-webkit-scrollbar, .pj-index-25::-webkit-scrollbar, .pj-index-26::-webkit-scrollbar, .pj-index-27::-webkit-scrollbar, .pj-index-28::-webkit-scrollbar, .pj-index-29::-webkit-scrollbar, .pj-index-30::-webkit-scrollbar, .pj-index-31::-webkit-scrollbar, .pj-index-32::-webkit-scrollbar, .pj-index-33::-webkit-scrollbar, .pj-index-34::-webkit-scrollbar, .pj-index-35::-webkit-scrollbar, .pj-index-36::-webkit-scrollbar, .pj-index-37::-webkit-scrollbar, .pj-index-38::-webkit-scrollbar, .pj-index-39::-webkit-scrollbar, .pj-index-40::-webkit-scrollbar, .pj-index-41::-webkit-scrollbar, .pj-index-42::-webkit-scrollbar, .pj-index-43::-webkit-scrollbar, .pj-index-44::-webkit-scrollbar, .pj-index-45::-webkit-scrollbar, .pj-index-46::-webkit-scrollbar, .pj-index-47::-webkit-scrollbar, .pj-index-48::-webkit-scrollbar, .pj-index-49::-webkit-scrollbar, .pj-index-50::-webkit-scrollbar, .pj-index-51::-webkit-scrollbar, .pj-index-52::-webkit-scrollbar, .pj-index-53::-webkit-scrollbar, .pj-index-54::-webkit-scrollbar, .pj-index-55::-webkit-scrollbar, .pj-index-56::-webkit-scrollbar, .pj-index-57::-webkit-scrollbar, .pj-index-58::-webkit-scrollbar, .pj-index-59::-webkit-scrollbar, .pj-index-60::-webkit-scrollbar, .pj-index-61::-webkit-scrollbar, .pj-index-62::-webkit-scrollbar, .pj-index-63::-webkit-scrollbar, .pj-index-64::-webkit-scrollbar, .pj-index-65::-webkit-scrollbar, .pj-index-66::-webkit-scrollbar, .pj-index-67::-webkit-scrollbar, .pj-index-68::-webkit-scrollbar, .pj-index-69::-webkit-scrollbar, .pj-index-70::-webkit-scrollbar, .pj-index-71::-webkit-scrollbar, .pj-index-72::-webkit-scrollbar, .pj-index-73::-webkit-scrollbar, .pj-index-74::-webkit-scrollbar, .pj-index-75::-webkit-scrollbar, .pj-index-76::-webkit-scrollbar, .pj-index-77::-webkit-scrollbar, .pj-index-78::-webkit-scrollbar, .pj-index-79::-webkit-scrollbar, .pj-index-80::-webkit-scrollbar, .pj-index-81::-webkit-scrollbar, .pj-index-82::-webkit-scrollbar, .pj-index-83::-webkit-scrollbar, .pj-index-84::-webkit-scrollbar, .pj-index-85::-webkit-scrollbar, .pj-index-86::-webkit-scrollbar, .pj-index-87::-webkit-scrollbar, .pj-index-88::-webkit-scrollbar, .pj-index-89::-webkit-scrollbar, .pj-index-90::-webkit-scrollbar, .pj-index-91::-webkit-scrollbar, .pj-index-92::-webkit-scrollbar, .pj-index-93::-webkit-scrollbar, .pj-index-94::-webkit-scrollbar, .pj-index-95::-webkit-scrollbar, .pj-index-96::-webkit-scrollbar, .pj-index-97::-webkit-scrollbar, .pj-index-98::-webkit-scrollbar, .pj-index-99::-webkit-scrollbar, .pj-index-100::-webkit-scrollbar {
    display: none;
  }
}
/* ■■■■■■■■■■■■■■■■■ インアニメーション ■■■■■■■■■■■■■■■■■ */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/* ■■■■■■■■■■■■■■■■■ ナンバリング・タイトル・タグ・バツボタン ■■■■■■■■■■■■■■■■■ */
.pj-index-num {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.pj-index-title {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  top: 167px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.pj-index-tag {
  margin-left: 0.8rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
  font-size: 0.8rem;
  background: #3f4c59;
  color: #ececec;
  border-radius: 10px 10px 0 10px;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-weight: 500;
  margin-top: -0.25rem;
  display: inline-block;
}

.pj-index-close {
  position: sticky;
  top: 0px;
  left: 100%;
  font-size: 2.5rem;
  line-height: 40px;
  z-index: 101;
  transition: 0.2s;
}
.pj-index-close:hover {
  color: #a13e3e;
}
@media screen and (min-width: 1921px) {
  .pj-index-close .fixed_2 {
    right: calc(50% - 550px);
  }
}

.pj_index_close {
  position: sticky;
  top: calc(103px + 1rem);
  left: 100%;
  width: 70px;
  height: 70px;
  background: #fff;
  z-index: 101;
  transition: 0.2s;
  border-radius: 25px;
}
.pj_index_close:hover {
  background: #a13e3e;
}
.pj_index_close:hover span {
  background: #fff;
}
.pj_index_close span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  transform: scaleY(0.5) translateY(2px);
  background: #232323;
  transition: 0.2s ease-in-out;
}
.pj_index_close span:nth-child(1) {
  top: 50%;
  right: 28%;
  transform: translate(-50%, -50%);
  width: 30px;
  transform: rotate(45deg);
}
.pj_index_close span:nth-child(2) {
  top: 50%;
  right: 28%;
  transform: translate(-50%, -50%);
  width: 30px;
  transform: rotate(135deg);
}

@media (min-width: 960px) {
  .pj-index-num {
    font-size: 5rem;
    margin-top: 3rem;
  }
}
@media (max-width: 959px) {
  .pj-index-num {
    font-size: 4rem;
  }
}
@media (min-width: 960px) {
  .pj-index-title {
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-size: 3rem;
    top: 167px;
  }
}
@media (min-width: 960px) {
  .pj-index-close {
    position: sticky;
    top: 6rem;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 50%;
    z-index: 101;
    color: #4d4d4d;
    transition: 0.2s;
  }
}
/* ■■■■■■■■■■■■■■■■■ 文章・画像グリッド・モデル・地図 ■■■■■■■■■■■■■■■■■ */
.pj-index-explain {
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  margin-top: 1rem;
  line-height: 1.85rem;
}
.pj-index-explain span {
  color: #f1f1f1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.pj-img-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1vw 0 0 !important;
  width: 100%;
}

.pj-index-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-image: url("../img/loading.svg");
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 959px) {
  .pj-index-img {
    margin-bottom: 1rem;
  }
}

.pj-index-map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 80%;
  margin: calc(1rem + 1.5vw) 0 1.5vw;
}

.pj-index-map iframe {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 15px;
}

@media (min-width: 960px) {
  .pj-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 1.5vw;
         column-gap: 1.5vw;
    row-gap: 1.5vw;
  }
  .pj-index-img {
    height: auto;
    width: 100%;
    border-radius: 15px 15px 0 15px;
  }
  .pj-index-map {
    position: relative;
    padding-top: 35%;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
  }
}
/* ■■■■■■■■■■■■■■■■■ 日付・モデル表示 ■■■■■■■■■■■■■■■■■ */
table {
  margin: 1.5vw 0;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  border-collapse: collapse;
}

th {
  letter-spacing: 0.12rem;
  text-align: left;
  padding: 0.5rem 1.5rem 0.5rem 0;
  border-right: solid 2px #232323;
}
th .fa-x-twitter {
  padding-right: 0.3rem;
}
th span {
  display: block;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}
th span span {
  margin-right: 0.3rem;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 960px) {
  th {
    font-size: 0.9rem;
    padding: 0.5rem 1rem 0.5rem 0;
  }
}

td {
  padding-left: 1.5rem;
  letter-spacing: 0.1rem;
}
@media (max-width: 960px) {
  td {
    font-size: 0.9rem;
    padding-left: 1rem;
  }
}
td a {
  background: #ececec;
  color: #232323;
  padding: 0.5rem 1.5rem;
  border-radius: 10px 10px 0 10px;
  text-decoration: none;
  transition: 0.2s;
}
td a .fa-arrow-right {
  padding-left: 0.6rem;
}
td a:visited {
  color: #232323;
}
td a:hover, td a:visited:hover {
  background: #232323;
  color: #ececec;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ contact ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#contact {
  width: 90%;
  padding: 0 5%;
}

@media (min-width: 960px) {
  .co-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 170px 100px;
    -moz-column-gap: 1.1rem;
         column-gap: 1.1rem;
    row-gap: 1.1rem;
    margin-top: 2rem;
  }
}
@media (max-width: 959px) {
  .co-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 170px 100px;
    -moz-column-gap: 1.1rem;
         column-gap: 1.1rem;
    row-gap: 1.1rem;
    margin-top: 2rem;
  }
}
.co-grid-item {
  width: 100%;
  height: 100%;
  background: #ececec;
  border-radius: 20px 20px 0 20px;
  position: relative;
  transition: 0.2s;
}

.co-item1 .fa-x-twitter {
  position: absolute;
  top: 15px;
  left: 15px;
}
.co-item1 .fa-circle-arrow-right {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.co-item1 .co-dm {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.co-item1 .co-dm::after {
  content: "to @oba_sanz087";
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  color: #8b8b8b;
}
.co-item1 .co-dm-caption {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
}
.co-item1 a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.co-item1:hover {
  color: #ececec;
  background: #4e4e4e;
}

.fa-triangle-exclamation {
  position: absolute;
  top: 15px;
  left: 15px;
}

.co-article {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  right: 15px;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0.05rem;
}

.co-at {
  position: absolute;
  top: 17px;
  left: 37px;
  font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
}/*# sourceMappingURL=style.css.map */