@charset "UTF-8";
* {
  max-width: 1300px;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
}
* ::-moz-selection {
  background: #a13e3e;
  color: #ececec;
}
* ::selection {
  background: #a13e3e;
  color: #ececec;
}

img {
  vertical-align: top;
}

body {
  background: #ececec;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■  header  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
header {
  position: fixed;
  line-height: 70px;
  width: 100%;
  top: 0px;
  z-index: 100;
  background: #ececec;
}
header a {
  text-decoration: none;
  padding: 23px 0.5rem 23px 0.5rem;
  line-height: 70px;
}
header a:hover {
  color: #a13e3e;
  border-top: 5px solid #a13e3e;
}

.header-link.active {
  color: #a13e3e;
  border-top: 5px solid #a13e3e;
}

.nav-list {
  margin-top: -70px;
  line-height: 70px;
  text-align: right;
  margin-right: 3%;
  color: #232323;
}

.nav-list-item {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.03rem;
  display: inline-block;
  margin-left: 1%;
}
.nav-list-item a {
  color: #232323;
}

.h-title {
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #232323;
}
.h-title span {
  font-size: 1rem;
  margin-left: 0.75rem;
  font-weight: 500;
  color: #8b8b8b;
}

@media (min-width: 960px) {
  .h-title {
    margin-left: 3%;
  }
  .globalMenuSp, .hamburger {
    display: none;
  }
}
@media (max-width: 959px) {
  header {
    position: fixed;
    height: 50px;
    line-height: 50px;
    width: 97%;
    top: 0;
    padding-left: 3%;
    z-index: 1000;
    background: #ececec;
  }
  .h-title {
    line-height: 50px;
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #232323;
  }
  .h-title span {
    font-size: 0.8rem;
    margin-left: 0.75rem;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #8b8b8b;
  }
  .nav-list {
    display: none;
  }
  .nav-list-sp a, .nav-list-item-sp, .header1 a {
    color: #232323;
  }
  /* ■■■■■■■■■■■■■■■■■ ハンバーガー ■■■■■■■■■■■■■■■■■ */
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    background-color: #ececec;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    transform: scaleY(0.5) translateY(2px);
    left: 6px;
    background: #232323;
    transition: 0.1s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 22px;
    right: 10px;
    width: 50%;
  }
  .hamburger span:nth-child(2) {
    top: 29px;
    right: 0;
    width: 30%;
  }
  .hamburger.active span:nth-child(1) {
    top: 25px;
    width: 50%;
    left: 1%;
    background: #232323;
    transform: rotate(-45deg);
    height: 2px;
  }
  .hamburger.active span:nth-child(2) {
    top: 25px;
    right: 16px;
    width: 50%;
    background: #232323;
    transform: rotate(45deg);
    height: 2px;
  }
  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: #ececec;
    text-align: center;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
    margin-top: 49px;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 5rem;
    height: 100vh;
    overflow: auto;
  }
  nav.globalMenuSp.active {
    opacity: 100;
    display: block;
    pointer-events: auto;
  }
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  .sp-menu-position {
    position: absolute;
    width: 100%;
    top: calc(50dvh - 50px);
    left: 0;
    transform: translate(0, -50%);
  }
  .sp-menu {
    color: #232323;
    font-weight: 500;
    text-align: left;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1.5rem;
    box-shadow: 4px 4px 8px #d2d2d2, -4px -4px 8px #ffffff;
    border-radius: 20px;
  }
  .sp-about::after, .sp-projects::after, .sp-update::after, .sp-contact::after {
    display: block;
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    letter-spacing: 0.05rem;
    margin-top: -10px;
    padding-bottom: 1rem;
  }
  .sp-about::after {
    content: "おばさんずについて";
  }
  .sp-projects::after {
    content: "つくったものたち";
  }
  .sp-update::after {
    content: "更新情報";
  }
  .sp-contact::after {
    content: "ご連絡";
  }
  .sp-menu-p {
    color: #232323;
    font-weight: 500;
    text-align: left;
    padding-left: 1rem;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    margin-right: 1rem;
  }
  .sp-menu-p i {
    font-size: 1rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .sp-menu .link2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .sp-menu-sns {
    margin-top: 3rem;
    margin-top: 5rem;
  }
  .sp-menu-sns i {
    font-size: 1.5rem;
    color: #232323;
  }
  .sp-menu-sns .slash {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #232323;
    font-size: 2rem;
  }
  .sp-line {
    background: #232323;
    width: 96%;
    height: 2.5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■  footer  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
@media (max-width: 959px) {
  footer {
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 2%;
    margin-right: 2%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  .f-copy {
    font-size: 0.8rem;
  }
  .f-sns {
    display: none;
  }
  .f-sns a {
    transition: 0.2s;
    border-radius: 50%;
    padding-right: 4%;
    color: #232323;
  }
}
@media (min-width: 960px) {
  footer {
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 3%;
    margin-right: 3%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  .f-copy {
    flex: 90;
    margin-bottom: -1.5rem;
  }
  .f-sns {
    font-size: 1.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: right;
  }
  .f-sns .fa-brands {
    padding: 0.6rem 0.65rem 0.5rem 0.6rem;
    transition: 0.2s;
    border-radius: 50%;
    color: #232323;
  }
}
.f-sns .fa-brands:hover {
  background: #f1f1f1;
}
.f-sns a:visited {
  color: #232323;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ loading ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#loading {
  width: 100vw;
  height: 100dvh;
  margin: 0 auto;
  transition: all 1s;
  background-color: #ececec;
  background-image: url(img/loading.svg);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: 50% 50%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

/* ローディング --- アニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ main ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
/* ■■■■■■■■■■■■■■■■■ topview ■■■■■■■■■■■■■■■■■ */
@media (min-width: 960px) {
  .main-topview {
    height: 100vh;
    position: relative;
  }
  .m-topview {
    background: #ececec;
    box-shadow: 6px 6px 12px #d2d2d2, -6px -6px 12px #ffffff;
    width: 98%;
    border-radius: 30px;
    padding-bottom: 2.2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 90;
    transform: translate(-50%, -50%);
  }
  .m-topview-ex {
    margin: 2rem 1.5% 0 1.5%;
  }
}
.m-topview-p {
  margin-left: 2%;
  font-size: 0.85rem;
}
.m-topview-p span {
  color: #a13e3e;
}

.jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.en {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
}

.m-topview-X {
  padding: 1rem 2rem 1rem 2rem;
  background-color: #ffffff;
  color: #232323;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  border-radius: 15px;
  transition: 0.2s;
  text-decoration: none;
}
.m-topview-X:visited {
  color: #232323;
}
.m-topview-X span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0 1rem 0 1rem;
}
.m-topview-X:hover {
  background-color: #232323;
  color: #fff;
}

/* ■■■■■■■■■■■■■■■■■ slide ■■■■■■■■■■■■■■■■■ */
.img-01 {
  background-image: url("img/scroll/6.jpg");
  animation: slide-animation-01 100s infinite;
  background-position: center;
}

.img-02 {
  background-image: url("img/scroll/7.jpg");
  animation: slide-animation-02 100s infinite;
  background-position: center;
}

.img-03 {
  background-image: url("img/scroll/8.jpg");
  animation: slide-animation-03 100s infinite;
  background-position: center;
}

.img-04 {
  background-image: url("img/scroll/15.jpg");
  animation: slide-animation-04 100s infinite;
  background-position: center;
}

.img-05 {
  background-image: url("img/scroll/11.jpg");
  animation: slide-animation-05 100s infinite;
  background-position: center;
}

.img-06 {
  background-image: url("img/scroll/12.jpg");
  animation: slide-animation-06 100s infinite;
  background-position: center;
}

.img-07 {
  background-image: url("img/scroll/14.jpg");
  animation: slide-animation-07 100s infinite;
  background-position: center;
}

.img-08 {
  background-image: url("img/scroll/4.jpg");
  animation: slide-animation-08 100s infinite;
  background-position: center;
}

.img-09 {
  background-image: url("img/scroll/9.jpg");
  animation: slide-animation-09 100s infinite;
  background-position: center;
}

.img-10 {
  background-image: url("img/scroll/10.jpg");
  animation: slide-animation-10 100s infinite;
  background-position: center;
}

@keyframes slide-animation-01 {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-animation-02 {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-03 {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-04 {
  0% {
    opacity: 0;
  }
  28% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  38% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-05 {
  0% {
    opacity: 0;
  }
  38% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-06 {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  58% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-07 {
  0% {
    opacity: 0;
  }
  58% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-08 {
  0% {
    opacity: 0;
  }
  68% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  78% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-09 {
  0% {
    opacity: 0;
  }
  78% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  88% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-animation-10 {
  0% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.progBar .bar {
  position: absolute;
  height: 100%;
  background-color: #fff;
  animation: progress 10s -1.5s linear infinite;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.m-topview-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), 50%, rgba(0, 0, 0, 0.53) 80%);
  border-radius: 15px;
}

@media (max-width: 959px) {
  .main-topview {
    height: calc(100vh - 50px);
    position: relative;
    border-radius: 20px;
    border-radius: 15px;
  }
  .m-topview {
    width: 100%;
    height: 100vh;
    z-index: 90;
    margin-top: 50px;
  }
  .m-topview-X {
    display: none;
  }
  .m-topview-ex {
    display: none;
  }
  .img-frame {
    position: relative;
    width: 100%;
    height: calc(100dvh - 50px);
    overflow: hidden;
    margin: 0 auto;
  }
  .img-01, .img-02, .img-03, .img-04, .img-05, .img-06, .img-07, .img-08, .img-09, .img-10 {
    position: absolute;
    bottom: 1.5%;
    left: 3%;
    width: 94%;
    height: 98.5%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
  }
  .progBar {
    width: 88%;
    height: 2px;
    background-color: none;
    position: relative;
    overflow: hidden;
    position: absolute;
    bottom: 1.5rem;
    left: 6%;
    z-index: 91;
  }
  .m-topview-text-jp {
    position: absolute;
    left: 4%;
    bottom: 2.4rem;
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #ddd;
    z-index: 91;
  }
  .m-topview-text-en {
    position: absolute;
    left: 4%;
    bottom: 1.45rem;
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #ddd;
    z-index: 91;
  }
  .m-topview-count {
    position: absolute;
    right: 4%;
    bottom: 1.45rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #ddd;
    z-index: 91;
  }
}
@media (min-width: 960px) {
  .img-frame {
    position: relative;
    width: 98%;
    height: 65dvh;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 15px;
  }
  .img-01, .img-02, .img-03, .img-04, .img-05, .img-06, .img-07, .img-08, .img-09, .img-10 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .progBar {
    width: 96%;
    height: 2px;
    background-color: none;
    position: relative;
    overflow: hidden;
    position: absolute;
    bottom: 0.7rem;
    left: 2%;
    z-index: 91;
  }
  .m-top-margin {
    padding-top: 1%;
  }
  .m-topview-text-jp {
    position: absolute;
    left: 2%;
    bottom: 2.4rem;
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #ddd;
    z-index: 91;
  }
  .m-topview-text-en {
    position: absolute;
    left: 2%;
    bottom: 1.45rem;
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #ddd;
    z-index: 91;
  }
  .m-topview-count {
    position: absolute;
    right: 2%;
    bottom: 1.45rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #ddd;
    z-index: 91;
  }
}
/* ■■■■■■■■■■■■■■■■■ 文字関連 ■■■■■■■■■■■■■■■■■ */
.se-title {
  margin-top: -1rem;
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 1.5rem;
  padding-top: 11rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.se-title span {
  color: #a13e3e;
}

.about-caption::after, .projects-caption::after, .update-caption::after, .contact-caption::after {
  display: block;
  font-size: 0.85rem;
  line-height: 0.85rem;
  margin-top: 0.5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.about-caption::before, .projects-caption::before, .update-caption::before, .contact-caption::before {
  content: "ー";
  color: #a13e3e;
  display: block;
  font-size: 0.85rem;
  line-height: 0.85rem;
  margin-bottom: -95px;
  margin-left: 0.2rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding-bottom: 1rem;
}

.about-caption::after {
  content: "おばさんずについて";
}

.projects-caption::after {
  content: "つくったものたち";
}

.update-caption::after {
  content: "更新情報";
}

.contact-caption::after {
  content: "ご連絡";
}

.se-ex {
  letter-spacing: 0.07rem;
  line-height: 1.8rem;
  margin: 0 1rem 0 1rem;
}

h6 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.08rem;
  border-left: solid 6px #a13e3e;
  margin: 1rem 0 1rem 3%;
  padding-left: 0.45rem;
}

/* ■■■■■■■■■■■■■■■■■ aboutme ■■■■■■■■■■■■■■■■■ */
.about-index {
  max-width: 600px;
}

.main-section {
  margin: 0 3% 0 3%;
}

.about-img-flex {
  display: flex;
  gap: 0 1.5rem;
  margin: 0 1rem 0 1rem;
}

.about-img {
  flex: 1;
  border-radius: 15px;
  width: 48%;
}

@media (min-width: 801px) {
  .about-sns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    -moz-column-gap: 1.1rem;
         column-gap: 1.1rem;
    row-gap: 1.1rem;
    margin: 0 1rem 0 1rem;
  }
  .about-sns-id {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04rem;
  }
  .about-sns-id.normal {
    font-size: 1.7rem;
  }
  .about-sns-id.small {
    font-size: 1.3rem;
  }
  .about-sns-caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
    font-weight: 500;
  }
  .about-sns-caption.normal {
    font-size: 0.8rem;
  }
  .about-sns-caption.small {
    font-size: 0.65rem;
  }
}
@media (max-width: 800px) {
  .about-sns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 90px;
    -moz-column-gap: 3%;
         column-gap: 3%;
    row-gap: 1.1rem;
    margin: 0 3% 0 3%;
  }
  .about-sns-id {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04rem;
  }
  .about-sns-id.normal {
    font-size: 1.2rem;
  }
  .about-sns-id.small {
    font-size: 1.1rem;
  }
  .about-sns-caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
    font-weight: 500;
  }
  .about-sns-caption.normal {
    font-size: 0.65rem;
  }
  .about-sns-caption.small {
    font-size: 0.65rem;
  }
}
.about-sns {
  width: 100%;
  height: 100%;
  background: #ddd;
  border-radius: 15px;
  position: relative;
  transition: 0.2s;
}
.about-sns .fa-x-twitter, .about-sns .fa-youtube, .about-sns .fa-github {
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-sns .fa-circle-arrow-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.about-sns a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 801px) {
  .item1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .item2 {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .item3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item4 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
.x:hover {
  background: #4e4e4e;
  color: #dddddd;
}

.yt:hover {
  background: #bb6663;
  color: #dddddd;
}

.misskey:hover {
  background: #99ac5c;
  color: #ddd;
}

.item4:hover {
  background: #4e4e4e;
  color: #ddd;
}

.about-img-foot {
  width: calc(100% - 2rem);
  margin: 2rem 1rem 0 1rem;
  height: 200px;
  border-radius: 15px;
  position: relative;
}

.about-img-back {
  background: #232323;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 91;
  border-radius: 15px;
}

.about-img-foot-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
}

.s-readmore {
  transition: 0.2s;
  background: #ececec;
  box-shadow: 6px 6px 12px #d2d2d2, -6px -6px 12px #ffffff;
  display: inline-block;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 20px;
  margin: 2rem 0 2rem 1rem;
}
.s-readmore:hover {
  color: #a13e3e;
  background: #dddddd;
  box-shadow: none;
}
.s-readmore i {
  margin: 0 1rem 0 1rem;
  color: #a13e3e;
}

.readmore-img {
  width: 96%;
  border-radius: 10px;
  margin: 1rem 2% 0;
}

@media (max-width: 959px) {
  .pj-about {
    margin: 2rem 0 2rem 3%;
  }
  .about-sns-br {
    display: block;
  }
}
@media (min-width: 960px) {
  .pj-about {
    margin: -2rem 0 2rem 3%;
  }
  .about-sns-br {
    display: inline;
  }
}
.pj-about {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: -0.02rem;
}
.pj-about span {
  display: block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: -5px;
}
.pj-about span span {
  display: inline;
  font-weight: 500;
  color: #a13e3e;
  margin: 0 0.3rem;
  margin-top: -5px;
}

.youtube {
  position: relative;
  left: 0;
  width: 96%;
  padding-top: 54%;
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.s-readmore-index .pj-index-num span {
  font-size: 1.5rem;
}

/* ■■■■■■■■■■■■■■■■■ projects ■■■■■■■■■■■■■■■■■ */
@media (max-width: 525px) {
  .pj-flex {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 526px) {
  .pj-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (width: 526px) {
  .pj-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .pj-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
}
.pj-flex {
  margin-left: -40px;
  list-style: none;
}

.up {
  margin-top: -1.5rem;
}

@media (max-width: 959px) {
  .pj-sam-1, .pj-sam-2, .pj-sam-3, .pj-sam-4, .pj-sam-5, .pj-sam-6, .pj-sam-7, .pj-sam-8, .pj-sam-9, .pj-sam-10, .pj-sam-11, .pj-sam-12, .pj-sam-13, .pj-sam-14, .pj-sam-15, .pj-sam-16, .pj-sam-17, .pj-sam-18, .pj-sam-19, .pj-sam-20, .pj-sam-21, .pj-sam-22, .pj-sam-23, .pj-sam-24, .pj-sam-25, .pj-sam-26, .pj-sam-27, .pj-sam-28, .pj-sam-29, .pj-sam-30, .pj-sam-31, .pj-sam-32, .pj-sam-33, .pj-sam-34, .pj-sam-35, .pj-sam-36, .pj-sam-37, .pj-sam-38, .pj-sam-39, .pj-sam-40, .pj-sam-41, .pj-sam-42, .pj-sam-43, .pj-sam-44, .pj-sam-45, .pj-sam-46, .pj-sam-47, .pj-sam-48, .pj-sam-49, .pj-sam-50, .pj-sam-51, .pj-sam-52, .pj-sam-53, .pj-sam-54, .pj-sam-55, .pj-sam-56, .pj-sam-57, .pj-sam-58, .pj-sam-59, .pj-sam-60, .pj-sam-61, .pj-sam-62, .pj-sam-63, .pj-sam-64, .pj-sam-65, .pj-sam-66, .pj-sam-67, .pj-sam-68, .pj-sam-69, .pj-sam-70, .pj-sam-71, .pj-sam-72, .pj-sam-73, .pj-sam-74, .pj-sam-75, .pj-sam-76, .pj-sam-77, .pj-sam-78, .pj-sam-79, .pj-sam-80, .pj-sam-81, .pj-sam-82, .pj-sam-83, .pj-sam-84, .pj-sam-85, .pj-sam-86, .pj-sam-87, .pj-sam-88, .pj-sam-89, .pj-sam-90, .pj-sam-91, .pj-sam-92, .pj-sam-93, .pj-sam-94, .pj-sam-95, .pj-sam-96, .pj-sam-97, .pj-sam-98, .pj-sam-99, .pj-sam-100 {
    width: 1fr;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2.4rem;
    box-shadow: 5px 5px 10px #d4d4d4, -5px -5px 10px #ffffff;
    border-radius: 20px;
    transition: 0.2s;
  }
}
@media (min-width: 960px) {
  .pj-sam-1, .pj-sam-2, .pj-sam-3, .pj-sam-4, .pj-sam-5, .pj-sam-6, .pj-sam-7, .pj-sam-8, .pj-sam-9, .pj-sam-10, .pj-sam-11, .pj-sam-12, .pj-sam-13, .pj-sam-14, .pj-sam-15, .pj-sam-16, .pj-sam-17, .pj-sam-18, .pj-sam-19, .pj-sam-20, .pj-sam-21, .pj-sam-22, .pj-sam-23, .pj-sam-24, .pj-sam-25, .pj-sam-26, .pj-sam-27, .pj-sam-28, .pj-sam-29, .pj-sam-30, .pj-sam-31, .pj-sam-32, .pj-sam-33, .pj-sam-34, .pj-sam-35, .pj-sam-36, .pj-sam-37, .pj-sam-38, .pj-sam-39, .pj-sam-40, .pj-sam-41, .pj-sam-42, .pj-sam-43, .pj-sam-44, .pj-sam-45, .pj-sam-46, .pj-sam-47, .pj-sam-48, .pj-sam-49, .pj-sam-50, .pj-sam-51, .pj-sam-52, .pj-sam-53, .pj-sam-54, .pj-sam-55, .pj-sam-56, .pj-sam-57, .pj-sam-58, .pj-sam-59, .pj-sam-60, .pj-sam-61, .pj-sam-62, .pj-sam-63, .pj-sam-64, .pj-sam-65, .pj-sam-66, .pj-sam-67, .pj-sam-68, .pj-sam-69, .pj-sam-70, .pj-sam-71, .pj-sam-72, .pj-sam-73, .pj-sam-74, .pj-sam-75, .pj-sam-76, .pj-sam-77, .pj-sam-78, .pj-sam-79, .pj-sam-80, .pj-sam-81, .pj-sam-82, .pj-sam-83, .pj-sam-84, .pj-sam-85, .pj-sam-86, .pj-sam-87, .pj-sam-88, .pj-sam-89, .pj-sam-90, .pj-sam-91, .pj-sam-92, .pj-sam-93, .pj-sam-94, .pj-sam-95, .pj-sam-96, .pj-sam-97, .pj-sam-98, .pj-sam-99, .pj-sam-100 {
    width: 1fr;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 2.4rem;
    box-shadow: 5px 5px 10px #d4d4d4, -5px -5px 10px #ffffff;
    border-radius: 20px;
    transition: 0.2s;
  }
  .pj-sam-1:hover, .pj-sam-2:hover, .pj-sam-3:hover, .pj-sam-4:hover, .pj-sam-5:hover, .pj-sam-6:hover, .pj-sam-7:hover, .pj-sam-8:hover, .pj-sam-9:hover, .pj-sam-10:hover,
  .pj-sam-11:hover, .pj-sam-12:hover, .pj-sam-13:hover, .pj-sam-14:hover, .pj-sam-15:hover, .pj-sam-16:hover, .pj-sam-17:hover, .pj-sam-18:hover, .pj-sam-19:hover, .pj-sam-20:hover,
  .pj-sam-21:hover, .pj-sam-22:hover, .pj-sam-23:hover, .pj-sam-24:hover, .pj-sam-25:hover, .pj-sam-26:hover, .pj-sam-27:hover, .pj-sam-28:hover, .pj-sam-29:hover, .pj-sam-30:hover,
  .pj-sam-31:hover, .pj-sam-32:hover, .pj-sam-33:hover, .pj-sam-34:hover, .pj-sam-35:hover, .pj-sam-36:hover, .pj-sam-37:hover, .pj-sam-38:hover, .pj-sam-39:hover, .pj-sam-40:hover,
  .pj-sam-41:hover, .pj-sam-42:hover, .pj-sam-43:hover, .pj-sam-44:hover, .pj-sam-45:hover, .pj-sam-46:hover, .pj-sam-47:hover, .pj-sam-48:hover, .pj-sam-49:hover, .pj-sam-50:hover,
  .pj-sam-51:hover, .pj-sam-52:hover, .pj-sam-53:hover, .pj-sam-54:hover, .pj-sam-55:hover, .pj-sam-56:hover, .pj-sam-57:hover, .pj-sam-58:hover, .pj-sam-59:hover, .pj-sam-60:hover,
  .pj-sam-61:hover, .pj-sam-62:hover, .pj-sam-63:hover, .pj-sam-64:hover, .pj-sam-65:hover, .pj-sam-66:hover, .pj-sam-67:hover, .pj-sam-68:hover, .pj-sam-69:hover, .pj-sam-70:hover,
  .pj-sam-71:hover, .pj-sam-72:hover, .pj-sam-73:hover, .pj-sam-74:hover, .pj-sam-75:hover, .pj-sam-76:hover, .pj-sam-77:hover, .pj-sam-78:hover, .pj-sam-79:hover, .pj-sam-80:hover,
  .pj-sam-81:hover, .pj-sam-82:hover, .pj-sam-83:hover, .pj-sam-84:hover, .pj-sam-85:hover, .pj-sam-86:hover, .pj-sam-87:hover, .pj-sam-88:hover, .pj-sam-89:hover, .pj-sam-90:hover,
  .pj-sam-91:hover, .pj-sam-92:hover, .pj-sam-93:hover, .pj-sam-94:hover, .pj-sam-95:hover, .pj-sam-96:hover, .pj-sam-97:hover, .pj-sam-98:hover, .pj-sam-99:hover, .pj-sam-100:hover {
    background: #ddd;
    box-shadow: none;
  }
  .pj-sam-1:hover .pj-img, .pj-sam-2:hover .pj-img, .pj-sam-3:hover .pj-img, .pj-sam-4:hover .pj-img, .pj-sam-5:hover .pj-img, .pj-sam-6:hover .pj-img, .pj-sam-7:hover .pj-img, .pj-sam-8:hover .pj-img, .pj-sam-9:hover .pj-img, .pj-sam-10:hover .pj-img,
  .pj-sam-11:hover .pj-img, .pj-sam-12:hover .pj-img, .pj-sam-13:hover .pj-img, .pj-sam-14:hover .pj-img, .pj-sam-15:hover .pj-img, .pj-sam-16:hover .pj-img, .pj-sam-17:hover .pj-img, .pj-sam-18:hover .pj-img, .pj-sam-19:hover .pj-img, .pj-sam-20:hover .pj-img,
  .pj-sam-21:hover .pj-img, .pj-sam-22:hover .pj-img, .pj-sam-23:hover .pj-img, .pj-sam-24:hover .pj-img, .pj-sam-25:hover .pj-img, .pj-sam-26:hover .pj-img, .pj-sam-27:hover .pj-img, .pj-sam-28:hover .pj-img, .pj-sam-29:hover .pj-img, .pj-sam-30:hover .pj-img,
  .pj-sam-31:hover .pj-img, .pj-sam-32:hover .pj-img, .pj-sam-33:hover .pj-img, .pj-sam-34:hover .pj-img, .pj-sam-35:hover .pj-img, .pj-sam-36:hover .pj-img, .pj-sam-37:hover .pj-img, .pj-sam-38:hover .pj-img, .pj-sam-39:hover .pj-img, .pj-sam-40:hover .pj-img,
  .pj-sam-41:hover .pj-img, .pj-sam-42:hover .pj-img, .pj-sam-43:hover .pj-img, .pj-sam-44:hover .pj-img, .pj-sam-45:hover .pj-img, .pj-sam-46:hover .pj-img, .pj-sam-47:hover .pj-img, .pj-sam-48:hover .pj-img, .pj-sam-49:hover .pj-img, .pj-sam-50:hover .pj-img,
  .pj-sam-51:hover .pj-img, .pj-sam-52:hover .pj-img, .pj-sam-53:hover .pj-img, .pj-sam-54:hover .pj-img, .pj-sam-55:hover .pj-img, .pj-sam-56:hover .pj-img, .pj-sam-57:hover .pj-img, .pj-sam-58:hover .pj-img, .pj-sam-59:hover .pj-img, .pj-sam-60:hover .pj-img,
  .pj-sam-61:hover .pj-img, .pj-sam-62:hover .pj-img, .pj-sam-63:hover .pj-img, .pj-sam-64:hover .pj-img, .pj-sam-65:hover .pj-img, .pj-sam-66:hover .pj-img, .pj-sam-67:hover .pj-img, .pj-sam-68:hover .pj-img, .pj-sam-69:hover .pj-img, .pj-sam-70:hover .pj-img,
  .pj-sam-71:hover .pj-img, .pj-sam-72:hover .pj-img, .pj-sam-73:hover .pj-img, .pj-sam-74:hover .pj-img, .pj-sam-75:hover .pj-img, .pj-sam-76:hover .pj-img, .pj-sam-77:hover .pj-img, .pj-sam-78:hover .pj-img, .pj-sam-79:hover .pj-img, .pj-sam-80:hover .pj-img,
  .pj-sam-81:hover .pj-img, .pj-sam-82:hover .pj-img, .pj-sam-83:hover .pj-img, .pj-sam-84:hover .pj-img, .pj-sam-85:hover .pj-img, .pj-sam-86:hover .pj-img, .pj-sam-87:hover .pj-img, .pj-sam-88:hover .pj-img, .pj-sam-89:hover .pj-img, .pj-sam-90:hover .pj-img,
  .pj-sam-91:hover .pj-img, .pj-sam-92:hover .pj-img, .pj-sam-93:hover .pj-img, .pj-sam-94:hover .pj-img, .pj-sam-95:hover .pj-img, .pj-sam-96:hover .pj-img, .pj-sam-97:hover .pj-img, .pj-sam-98:hover .pj-img, .pj-sam-99:hover .pj-img, .pj-sam-100:hover .pj-img {
    border-radius: 50px 15px 50px 15px;
  }
}
.pj-img {
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  width: 95.5%;
  margin: 2% 2% 0 2%;
  border-radius: 15px;
  transition: 0.2s;
}
.pj-img:hover {
  overflow: hidden;
}

@media (min-width: 426px) {
  .pj-img img {
    transition: 0.2s;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media (max-width: 425px) {
  .pj-img img {
    transition: 0.2s;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    border-radius: 15px 15px 0px 0px;
  }
}
.pj-title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 10px;
  border-radius: 0px 0px 20px 20px;
}

@media (max-width: 959px) {
  .pj-index-1, .pj-index-2, .pj-index-3, .pj-index-4, .pj-index-5, .pj-index-6, .pj-index-7, .pj-index-8, .pj-index-9, .pj-index-10, .s-readmore-index, .pj-index-11, .pj-index-12, .pj-index-13, .pj-index-14, .pj-index-15, .pj-index-16, .pj-index-17, .pj-index-18, .pj-index-19, .pj-index-20, .pj-index-21, .pj-index-22, .pj-index-23, .pj-index-24, .pj-index-25, .pj-index-26, .pj-index-27, .pj-index-28, .pj-index-29, .pj-index-30, .pj-index-31, .pj-index-32, .pj-index-33, .pj-index-34, .pj-index-35, .pj-index-36, .pj-index-37, .pj-index-38, .pj-index-39, .pj-index-40, .pj-index-41, .pj-index-42, .pj-index-43, .pj-index-44, .pj-index-45, .pj-index-46, .pj-index-47, .pj-index-48, .pj-index-49, .pj-index-50, .pj-index-51, .pj-index-52, .pj-index-53, .pj-index-54, .pj-index-55, .pj-index-56, .pj-index-57, .pj-index-58, .pj-index-59, .pj-index-60, .pj-index-61, .pj-index-62, .pj-index-63, .pj-index-64, .pj-index-65, .pj-index-66, .pj-index-67, .pj-index-68, .pj-index-69, .pj-index-70, .pj-index-71, .pj-index-72, .pj-index-73, .pj-index-74, .pj-index-75, .pj-index-76, .pj-index-77, .pj-index-78, .pj-index-79, .pj-index-80, .pj-index-81, .pj-index-82, .pj-index-83, .pj-index-84, .pj-index-85, .pj-index-86, .pj-index-87, .pj-index-88, .pj-index-89, .pj-index-90, .pj-index-91, .pj-index-92, .pj-index-93, .pj-index-94, .pj-index-95, .pj-index-96, .pj-index-97, .pj-index-98, .pj-index-99, .pj-index-100 {
    display: none;
    transition: 0.2s;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(230, 230, 230, 0.68);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow: auto;
    animation: fadein 0.2s ease-out forwards;
  }
  .pj-index-close {
    position: sticky;
    top: calc(50px + 1rem);
    left: 88vw;
    font-size: 2.5rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    z-index: 101;
    transition: 0.2s;
  }
  .pj-img-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 3% 0 3%;
    width: 94%;
  }
  .pj-index-img {
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 10px;
  }
  .pj-index-map {
    position: relative;
    width: 94%;
    height: 0;
    padding-top: 80%;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
  .pj-index-title {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 2.5rem;
    top: 167px;
  }
  .pj-index-num {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    margin-top: 1.5rem;
    margin-left: 3%;
  }
  .pj-index-tag {
    margin-left: 0.8rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-size: 0.8rem;
    background: #ddd;
    color: #a13e3e;
    border-radius: 25px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    margin-top: -0.25rem;
    display: inline-block;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@media (min-width: 960px) {
  .pj-index-1, .pj-index-2, .pj-index-3, .pj-index-4, .pj-index-5, .pj-index-6, .pj-index-7, .pj-index-8, .pj-index-9, .pj-index-10, .s-readmore-index, .pj-index-11, .pj-index-12, .pj-index-13, .pj-index-14, .pj-index-15, .pj-index-16, .pj-index-17, .pj-index-18, .pj-index-19, .pj-index-20, .pj-index-21, .pj-index-22, .pj-index-23, .pj-index-24, .pj-index-25, .pj-index-26, .pj-index-27, .pj-index-28, .pj-index-29, .pj-index-30, .pj-index-31, .pj-index-32, .pj-index-33, .pj-index-34, .pj-index-35, .pj-index-36, .pj-index-37, .pj-index-38, .pj-index-39, .pj-index-40, .pj-index-41, .pj-index-42, .pj-index-43, .pj-index-44, .pj-index-45, .pj-index-46, .pj-index-47, .pj-index-48, .pj-index-49, .pj-index-50, .pj-index-51, .pj-index-52, .pj-index-53, .pj-index-54, .pj-index-55, .pj-index-56, .pj-index-57, .pj-index-58, .pj-index-59, .pj-index-60, .pj-index-61, .pj-index-62, .pj-index-63, .pj-index-64, .pj-index-65, .pj-index-66, .pj-index-67, .pj-index-68, .pj-index-69, .pj-index-70, .pj-index-71, .pj-index-72, .pj-index-73, .pj-index-74, .pj-index-75, .pj-index-76, .pj-index-77, .pj-index-78, .pj-index-79, .pj-index-80, .pj-index-81, .pj-index-82, .pj-index-83, .pj-index-84, .pj-index-85, .pj-index-86, .pj-index-87, .pj-index-88, .pj-index-89, .pj-index-90, .pj-index-91, .pj-index-92, .pj-index-93, .pj-index-94, .pj-index-95, .pj-index-96, .pj-index-97, .pj-index-98, .pj-index-99, .pj-index-100 {
    opacity: 0;
    display: none;
    border-radius: 40px 40px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 71px);
    z-index: 99;
    overflow: auto;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(230, 230, 230, 0.68);
    animation: fadein 0.2s ease forwards;
  }
  .pj-index-title {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 3rem;
    top: 167px;
  }
  .pj-index-close {
    position: sticky;
    top: 2.2rem;
    left: 94%;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 50%;
    z-index: 101;
    color: #4d4d4d;
    transition: 0.2s;
  }
  .pj-index-num {
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    margin-top: -1.8rem;
    margin-left: 3%;
  }
  .pj-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 1.3rem;
         column-gap: 1.3rem;
    row-gap: 1.3rem;
    margin: 0 3% 0 3%;
  }
  .pj-index-img {
    height: auto;
    width: 100%;
    border-radius: 10px;
  }
  .pj-index-map {
    position: relative;
    width: 94%;
    height: 0;
    padding-top: 35%;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 960px) {
  .pj-index-1::-webkit-scrollbar, .pj-index-2::-webkit-scrollbar, .pj-index-3::-webkit-scrollbar, .pj-index-4::-webkit-scrollbar, .pj-index-5::-webkit-scrollbar, .pj-index-6::-webkit-scrollbar, .pj-index-7::-webkit-scrollbar, .pj-index-8::-webkit-scrollbar, .pj-index-9::-webkit-scrollbar, .pj-index-10::-webkit-scrollbar, .s-readmore-index::-webkit-scrollbar, .pj-index-11::-webkit-scrollbar, .pj-index-12::-webkit-scrollbar, .pj-index-13::-webkit-scrollbar, .pj-index-14::-webkit-scrollbar, .pj-index-15::-webkit-scrollbar, .pj-index-16::-webkit-scrollbar, .pj-index-17::-webkit-scrollbar, .pj-index-18::-webkit-scrollbar, .pj-index-19::-webkit-scrollbar, .pj-index-20::-webkit-scrollbar, .pj-index-21::-webkit-scrollbar, .pj-index-22::-webkit-scrollbar, .pj-index-23::-webkit-scrollbar, .pj-index-24::-webkit-scrollbar, .pj-index-25::-webkit-scrollbar, .pj-index-26::-webkit-scrollbar, .pj-index-27::-webkit-scrollbar, .pj-index-28::-webkit-scrollbar, .pj-index-29::-webkit-scrollbar, .pj-index-30::-webkit-scrollbar, .pj-index-31::-webkit-scrollbar, .pj-index-32::-webkit-scrollbar, .pj-index-33::-webkit-scrollbar, .pj-index-34::-webkit-scrollbar, .pj-index-35::-webkit-scrollbar, .pj-index-36::-webkit-scrollbar, .pj-index-37::-webkit-scrollbar, .pj-index-38::-webkit-scrollbar, .pj-index-39::-webkit-scrollbar, .pj-index-40::-webkit-scrollbar, .pj-index-41::-webkit-scrollbar, .pj-index-42::-webkit-scrollbar, .pj-index-43::-webkit-scrollbar, .pj-index-44::-webkit-scrollbar, .pj-index-45::-webkit-scrollbar, .pj-index-46::-webkit-scrollbar, .pj-index-47::-webkit-scrollbar, .pj-index-48::-webkit-scrollbar, .pj-index-49::-webkit-scrollbar, .pj-index-50::-webkit-scrollbar, .pj-index-51::-webkit-scrollbar, .pj-index-52::-webkit-scrollbar, .pj-index-53::-webkit-scrollbar, .pj-index-54::-webkit-scrollbar, .pj-index-55::-webkit-scrollbar, .pj-index-56::-webkit-scrollbar, .pj-index-57::-webkit-scrollbar, .pj-index-58::-webkit-scrollbar, .pj-index-59::-webkit-scrollbar, .pj-index-60::-webkit-scrollbar, .pj-index-61::-webkit-scrollbar, .pj-index-62::-webkit-scrollbar, .pj-index-63::-webkit-scrollbar, .pj-index-64::-webkit-scrollbar, .pj-index-65::-webkit-scrollbar, .pj-index-66::-webkit-scrollbar, .pj-index-67::-webkit-scrollbar, .pj-index-68::-webkit-scrollbar, .pj-index-69::-webkit-scrollbar, .pj-index-70::-webkit-scrollbar, .pj-index-71::-webkit-scrollbar, .pj-index-72::-webkit-scrollbar, .pj-index-73::-webkit-scrollbar, .pj-index-74::-webkit-scrollbar, .pj-index-75::-webkit-scrollbar, .pj-index-76::-webkit-scrollbar, .pj-index-77::-webkit-scrollbar, .pj-index-78::-webkit-scrollbar, .pj-index-79::-webkit-scrollbar, .pj-index-80::-webkit-scrollbar, .pj-index-81::-webkit-scrollbar, .pj-index-82::-webkit-scrollbar, .pj-index-83::-webkit-scrollbar, .pj-index-84::-webkit-scrollbar, .pj-index-85::-webkit-scrollbar, .pj-index-86::-webkit-scrollbar, .pj-index-87::-webkit-scrollbar, .pj-index-88::-webkit-scrollbar, .pj-index-89::-webkit-scrollbar, .pj-index-90::-webkit-scrollbar, .pj-index-91::-webkit-scrollbar, .pj-index-92::-webkit-scrollbar, .pj-index-93::-webkit-scrollbar, .pj-index-94::-webkit-scrollbar, .pj-index-95::-webkit-scrollbar, .pj-index-96::-webkit-scrollbar, .pj-index-97::-webkit-scrollbar, .pj-index-98::-webkit-scrollbar, .pj-index-99::-webkit-scrollbar, .pj-index-100::-webkit-scrollbar {
    display: none;
  }
}
.pj-index-1.active, .pj-index-2.active, .pj-index-3.active, .pj-index-4.active, .pj-index-5.active, .pj-index-6.active, .pj-index-7.active, .pj-index-8.active, .pj-index-9.active, .pj-index-10.active, .s-readmore-index.active, .pj-index-11.active, .pj-index-12.active, .pj-index-13.active, .pj-index-14.active, .pj-index-15.active, .pj-index-16.active, .pj-index-17.active, .pj-index-18.active, .pj-index-19.active, .pj-index-20.active, .pj-index-21.active, .pj-index-22.active, .pj-index-23.active, .pj-index-24.active, .pj-index-25.active, .pj-index-26.active, .pj-index-27.active, .pj-index-28.active, .pj-index-29.active, .pj-index-30.active, .pj-index-31.active, .pj-index-32.active, .pj-index-33.active, .pj-index-34.active, .pj-index-35.active, .pj-index-36.active, .pj-index-37.active, .pj-index-38.active, .pj-index-39.active, .pj-index-40.active, .pj-index-41.active, .pj-index-42.active, .pj-index-43.active, .pj-index-44.active, .pj-index-45.active, .pj-index-46.active, .pj-index-47.active, .pj-index-48.active, .pj-index-49.active, .pj-index-50.active, .pj-index-51.active, .pj-index-52.active, .pj-index-53.active, .pj-index-54.active, .pj-index-55.active, .pj-index-56.active, .pj-index-57.active, .pj-index-58.active, .pj-index-59.active, .pj-index-60.active, .pj-index-61.active, .pj-index-62.active, .pj-index-63.active, .pj-index-64.active, .pj-index-65.active, .pj-index-66.active, .pj-index-67.active, .pj-index-68.active, .pj-index-69.active, .pj-index-70.active, .pj-index-71.active, .pj-index-72.active, .pj-index-73.active, .pj-index-74.active, .pj-index-75.active, .pj-index-76.active, .pj-index-77.active, .pj-index-78.active, .pj-index-79.active, .pj-index-80.active, .pj-index-81.active, .pj-index-82.active, .pj-index-83.active, .pj-index-84.active, .pj-index-85.active, .pj-index-86.active, .pj-index-87.active, .pj-index-88.active, .pj-index-89.active, .pj-index-90.active, .pj-index-91.active, .pj-index-92.active, .pj-index-93.active, .pj-index-94.active, .pj-index-95.active, .pj-index-96.active, .pj-index-97.active, .pj-index-98.active, .pj-index-99.active, .pj-index-100.active {
  opacity: 100;
  display: block;
}
.pj-index-1.active header, .pj-index-2.active header, .pj-index-3.active header, .pj-index-4.active header, .pj-index-5.active header, .pj-index-6.active header, .pj-index-7.active header, .pj-index-8.active header, .pj-index-9.active header, .pj-index-10.active header, .s-readmore-index.active header, .pj-index-11.active header, .pj-index-12.active header, .pj-index-13.active header, .pj-index-14.active header, .pj-index-15.active header, .pj-index-16.active header, .pj-index-17.active header, .pj-index-18.active header, .pj-index-19.active header, .pj-index-20.active header, .pj-index-21.active header, .pj-index-22.active header, .pj-index-23.active header, .pj-index-24.active header, .pj-index-25.active header, .pj-index-26.active header, .pj-index-27.active header, .pj-index-28.active header, .pj-index-29.active header, .pj-index-30.active header, .pj-index-31.active header, .pj-index-32.active header, .pj-index-33.active header, .pj-index-34.active header, .pj-index-35.active header, .pj-index-36.active header, .pj-index-37.active header, .pj-index-38.active header, .pj-index-39.active header, .pj-index-40.active header, .pj-index-41.active header, .pj-index-42.active header, .pj-index-43.active header, .pj-index-44.active header, .pj-index-45.active header, .pj-index-46.active header, .pj-index-47.active header, .pj-index-48.active header, .pj-index-49.active header, .pj-index-50.active header, .pj-index-51.active header, .pj-index-52.active header, .pj-index-53.active header, .pj-index-54.active header, .pj-index-55.active header, .pj-index-56.active header, .pj-index-57.active header, .pj-index-58.active header, .pj-index-59.active header, .pj-index-60.active header, .pj-index-61.active header, .pj-index-62.active header, .pj-index-63.active header, .pj-index-64.active header, .pj-index-65.active header, .pj-index-66.active header, .pj-index-67.active header, .pj-index-68.active header, .pj-index-69.active header, .pj-index-70.active header, .pj-index-71.active header, .pj-index-72.active header, .pj-index-73.active header, .pj-index-74.active header, .pj-index-75.active header, .pj-index-76.active header, .pj-index-77.active header, .pj-index-78.active header, .pj-index-79.active header, .pj-index-80.active header, .pj-index-81.active header, .pj-index-82.active header, .pj-index-83.active header, .pj-index-84.active header, .pj-index-85.active header, .pj-index-86.active header, .pj-index-87.active header, .pj-index-88.active header, .pj-index-89.active header, .pj-index-90.active header, .pj-index-91.active header, .pj-index-92.active header, .pj-index-93.active header, .pj-index-94.active header, .pj-index-95.active header, .pj-index-96.active header, .pj-index-97.active header, .pj-index-98.active header, .pj-index-99.active header, .pj-index-100.active header {
  background: #e6e6e6;
}

.pj-index-close:hover {
  color: #a13e3e;
}

.pj-index-in {
  margin-left: 3%;
  margin-right: 3%;
}

.pj-index-explain {
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.85rem;
}
.pj-index-explain span {
  color: #f1f1f1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.pj-index-date {
  font-family: "Montserrat", sans-serif;
  margin-left: 3%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pj-index-date-inplace {
  font-family: "Montserrat", sans-serif;
  margin-left: 3%;
  margin-top: 2rem;
}

.pj-index-place {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  margin-left: 3%;
  margin-top: 0.5rem;
}

.pj-index-map iframe {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* project flex 絞り込み */
.tag-search {
  display: none;
  overflow: scroll;
}

.search-box span {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  margin-left: 0.5rem;
}

label {
  display: inline-block;
  padding: 0.3rem 1rem 0.4rem 1rem;
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
  font-size: 0.85rem;
  cursor: pointer;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  transition: 0.2s;
  border-radius: 20px;
  background: #ececec;
  box-shadow: 3px 3px 6px #d2d2d2, -3px -3px 6px #ffffff;
}

.tag-search:checked + label {
  background-color: #dddddd;
  box-shadow: none;
  color: #a13e3e;
}

input[type=radio] {
  display: none;
}

.label-box {
  margin: 1rem 0 1rem 0;
}

.tag-title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

label:hover {
  color: #a13e3e;
}

.is-hide {
  display: none;
}

@media (max-width: 959px) {
  .label {
    display: inline-block;
    padding: 0.3rem 1rem 0.4rem 1rem;
    margin: 1rem 0.25rem 2rem 0.25rem;
    cursor: pointer;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    transition: 0.2s;
    border-radius: 20px;
    background: #ececec;
    box-shadow: 3px 3px 6px #d2d2d2, -3px -3px 6px #ffffff;
  }
  .search-box {
    overflow: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    position: relative;
  }
  .search-box::-webkit-scrollbar {
    display: none;
  }
  .line {
    width: 100%;
    height: 2px;
    background: #ddd;
    margin: 0.5rem 0 0.5rem 0;
  }
}
@media (min-width: 960px) {
  .pj-index-tag {
    margin-left: 1rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-size: 1rem;
    background: #ddd;
    color: #a13e3e;
    border-radius: 25px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    margin-top: -0.25rem;
    display: inline-block;
  }
  .line {
    width: 50%;
    height: 2px;
    background: #ddd;
    margin: 0.5rem 0 0.5rem 0;
  }
}
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ update-log ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
@media (min-width: 960px) {
  .up-date-info {
    display: grid;
    grid-template-columns: 1.5fr 9.5fr;
    width: 100%;
    margin-top: 1rem;
    align-content: start;
  }
  .up-date {
    font-family: "Montserrat", sans-serif;
    line-height: 2rem;
    padding: 0 1rem 0 1rem;
    background-color: #ddd;
    border-radius: 30px;
    display: inline;
    font-weight: 500;
    text-align: center;
    align-items: flex-start;
  }
}
@media (max-width: 959px) {
  .up-date-info {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
  .up-date {
    font-family: "Montserrat", sans-serif;
    line-height: 2rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin-bottom: 0.8rem;
    background-color: #ddd;
    border-radius: 30px;
    display: inline;
    font-weight: 500;
    text-align: left;
  }
}
.up-date-title {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  line-height: 2rem;
  display: block;
  letter-spacing: 0.05rem;
  font-weight: 600;
  margin: 0 1rem 0 1rem;
}

.up-date-box {
  padding: 0.5em 1em;
  margin: 0.5rem 0;
  border: solid 3px #ddd;
  border-radius: 15px;
}
.up-date-box p {
  margin: 0;
  padding: 0;
}
.up-date-box li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.up-date-box li::before {
  content: "・";
  color: #a13e3e;
  font-weight: bold;
  margin-right: 0.3rem;
}

.up-date-content {
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  line-height: 1.7rem;
  font-size: 0.9rem;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 500;
  margin: 0 1rem 0 1rem;
}

.update-line {
  width: 100%;
  height: 2px;
  background-color: #cdcdcd;
  margin: 2rem 0;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ contact ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
@media (min-width: 960px) {
  .co-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 170px 100px;
    -moz-column-gap: 1.1rem;
         column-gap: 1.1rem;
    row-gap: 1.1rem;
    margin-top: 2rem;
  }
}
@media (max-width: 959px) {
  .co-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 170px 100px;
    -moz-column-gap: 1.1rem;
         column-gap: 1.1rem;
    row-gap: 1.1rem;
    margin-top: 2rem;
  }
}
.co-grid-item {
  width: 100%;
  height: 100%;
  background: #ddd;
  border-radius: 15px;
  position: relative;
  transition: 0.2s;
}

.co-item1 .fa-x-twitter {
  position: absolute;
  top: 10px;
  left: 10px;
}
.co-item1 .fa-circle-arrow-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.co-item1 .co-dm {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.co-item1 .co-dm::after {
  content: "to @oba_sanz087";
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  color: #8b8b8b;
}
.co-item1 .co-dm-caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
}
.co-item1 a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.co-item1:hover {
  color: #ececec;
  background: #4e4e4e;
}

.fa-triangle-exclamation {
  position: absolute;
  top: 10px;
  left: 10px;
}

.co-article {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  right: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0.05rem;
}

.co-at {
  position: absolute;
  top: 12px;
  left: 32px;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
}/*# sourceMappingURL=style.css.map */