@charset "UTF-8";
* {
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  max-width: 1920px;
}
.nav-list-item a,.h-logo{
  color: #232323;
  &:hover{
    color:#3f4c59;
  }
}
.header-link::after{
  background: #3f4c59!important;
}
.pc_hamburger span{
  background: #232323;
}


img {
  vertical-align: top;
}

main{
    max-width: 1440px;
    padding:0 5%;
}
.page_head{
    max-width: 1440px;
    margin:102px 0 1.5rem 0 ;
    border-radius: 20px;
    position: relative;
    .background{
      position: absolute;
      top:0;
      left:0;
      width:20%;
      height: 100%;
      background: #ececec;
      border-radius: 20px 0 0 20px;
      @media (max-width: 959px) {
        width: 30%;
      }
    }
    .title{
      font-family: "Plus Jakarta Sans","Noto Sans JP", sans-serif;
      position: absolute;
      line-height: 2.5rem;
      left:3vw;
      top:50%;
      transform: translateY(-50%);
      z-index: 50;
      font-size: 2.5rem;
      letter-spacing: 0.12rem;
      color: #000;
      font-weight:400 ;
      span{
        display: block;
        font-size: 0.8rem;
        font-family: "Noto Sans JP", sans-serif;
        font-weight: 500;
        letter-spacing: 0.05rem;
      }
      @media (max-width: 959px) {
        font-size: 1.5rem;
        line-height: 1.8rem;
        span{
          font-size: 0.6rem;

        }
      }
    }
    .info_img{
      width: 100%;
      height: 25vw;
      object-fit: cover;
      border-radius: 25px 25px 0 25px;
      position: relative;
      @media (max-width: 959px) {
        height: 25vh;
      }
    }
    .img_back{
      position:absolute ;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 25px 25px 0 25px;
    }
}
h3{
  font-family:"Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin-bottom:1rem;
  margin-top:2rem;
}
h4{
  font-family:"Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.35rem;
  margin-bottom:1rem;
  margin-top:2rem;
  padding-left:.65rem;
  border-left: solid #232323 5px;
}
p{
  font-family:"Plus Jakarta Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.03rem;
  line-height: 2rem;
  a{
    color:#3f4c59;
    &:visited{
      color: #3f4c59;
    }
  }
}
.b{
  margin-top:1rem;
}