@charset "UTF-8";
* {
  margin-left: 0;
  margin-right: 0;
  margin: auto;
  max-width: 1920px;
}
* ::-moz-selection {
  background: #3f4c59;
  color: #ececec;
}
* ::selection {
  background: #3f4c59;
  color: #ececec;
}

img {
  vertical-align: top;
}

main{
    max-width: 1440px;
    padding:0 5%;
}
.page_head{
    max-width: 1440px;
    margin:75px 0 1.5rem 0 ;
    position: relative;
    .title{
      position: absolute;
      top:0;
      left:0;
      width:20%;
      height: 100%;
      background: #ececec;
      border-radius: 20px 0 0 20px;
      @media (max-width: 959px) {
        width: 30%;
      }
    }
    p{
      font-family: "Lato", sans-serif;
      position: absolute;
      line-height: 2.5rem;
      left:3vw;
      top:50%;
      transform: translateY(-50%);
      z-index: 50;
      font-size: 2.5rem;
      letter-spacing: 0.12rem;
      color: #000;
      span{
        display: block;
        font-size: 0.8rem;
        font-family: "Noto Sans JP", sans-serif;
        font-weight: 500;
        letter-spacing: 0.05rem;
      }
      @media (max-width: 959px) {
        font-size: 1.5rem;
        line-height: 1.8rem;
        span{
          font-size: 0.6rem;

        }
      }
    }
    img{
      width: 100%;
      height: 25vw;
      object-fit: cover;
      border-radius: 25px 25px 0 25px;
      position: relative;
      @media (max-width: 959px) {
        height: 25vh;
      }
    }
    .img_back{
      position:absolute ;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 25px 25px 0 25px;
    }
}
p{
  font-family:"Lato", "Noto Sans JP", sans-serif;
  letter-spacing: 0.03rem;
  line-height: 2rem;
}
.b{
  margin-top:1rem;
}
.article_img{
  position: relative;
  img{
    position: absolute;
    right:1vw;
    top:0;
    height:150px;
    opacity: 0.3;
    @media (max-width: 959px) {
      display:none
    }
  }
}
h3{
  font-family:"Lato", "Noto Sans JP", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin-bottom:1rem;
  margin-top:2rem;
  span{
    font-size:0.8rem;
    display:block;
    padding-right:0.25rem;
    margin-left:0.5rem;
    span{
      display:inline
    }
  }
}
.img-grid{
  width: 100%;
  margin:1rem 0;
  div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:1.5rem;
    @media (max-width: 959px) {
      grid-template-columns: 1fr;
      gap:1.5rem;
    }
  }
  img{
    width: 100%;
    border-radius: 15px 15px 0 15px;
  }
  p{
    font-size:0.8rem;
    line-height: 1.1rem;
    margin-top:0.5rem
  }
}
section{
  max-width: 800px;
}